.row
  .span6.offset3.round_box
    = simple_form_for(@referralship, url: admin_referrers_path, method: :post, html:  { class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title= t('referral')

      = render '/shared/simple_form_errors', :f => f

      = f.input :referrer, as: :select, collection: sorted_referrer_list, label: 'Usuario'
      = f.input :referral, as: :select, collection: sorted_referral_list, label: 'Referido'
      = f.input :referral_on, label: 'Referido desde'

      .form-actions
        = f.submit t('save'), :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), [:admin, :affiliates], class: 'btn btn-large'

:javascript
  $(document).ready(function() {
    $('#referralship_referral_on').datepicker({
      changeMonth: true,
      changeYear: true
    });
  })