= render '/shared/simple_form_errors', :f => f

= f.input :twitter_username
= f.input :influencer_type, :as => :select, :collection => ["Actor", "Músico", "Deportista", "Conductor", "Periodista", "Modelo", "Mediático", "Artista", "Panelista", "Cheff", "Humorista", "Moda", "Twitteros", "Otros"], :include_blank => false
= f.input :description, :as => :text, :input_html => {:rows => 4, :cols => 60 }
= f.input :firstname
= f.input :lastname
= f.input :sex, :as => :radio_buttons, :collection => [['Hombre', 'M'], ['Mujer', 'F']], :include_blank => false
= f.input :address
= f.input :city
= f.input :state
= f.input :country
= f.input :zip_code
= f.input :phone
= f.input :cell_phone
= f.input :contact_time
= f.input :account_number
= f.input :account_type, :as => :select, :collection => ['Caja de Ahorro', 'Cuenta Corriente'], :include_blank => false
= f.input :cbu
= f.input :bank_name, :as => :select, :collection => ["Citi", "Standard Bank", "Santander Rio", "Banco Frances", "Banco Macro", "Banco Galicia"]
= f.input :contact_method, :as => :select, :collection => ["Email", "Telefono", "Direct Message"]

