= form_tag "/tweets/new", :method => "POST", :class => "form" do
  %table{:class => :table}
    %tr
      %th 
      %th
      %th @Nombre
      %th Nombre
      %th Seguidores         
      %th Costo Fijo
      %th Costo Por Click
      %th Costo Fijo + Por Click     
      
    - @influencers.each do |influencer|
      %tr{ :class => @cycle = cycle('odd', 'even') }
        %td{:rowspan => "2"}= check_box_tag "influencers[]", influencer.id
        %td{:rowspan => "2"}= image_tag influencer.image_url
        %td= link_to influencer.twitter_username, audiences_path + "/influencer/" + influencer.id.to_s
        %td= influencer.full_name
        %td= number_with_delimiter(influencer.followers)
        %td= number_to_currency(influencer.fee)
        %td= number_to_currency(influencer.cpc)
        %td= number_to_currency(influencer.fee_cpc) + " + " + number_to_currency(influencer.cpc_fee)
      %tr{ :class => @cycle }
        %td{:colspan => "7"}= influencer.influencer_type + ": " + influencer.bio
  .group.wat-cf
    %button.button{ :type => "submit" }
      = image_tag "web-app-theme/icons/tick.png"
      Contratar