#block-text.block
  .content
    %h2.title Comisiones
    .inner
      %table{:class => :table}
        %tr
          %th Twitter Username  
          %th Nombre
          %th Apellido                       
          %th Comision Borwin (e.j: 0.3)
          %th
          
          - @influencers.each do |influencer|            
            %tr{ :class => cycle('odd', 'even') }
              = form_for(influencer, :html => { :class => "form" }, :url => "/influencers/" + influencer.id.to_s + "/save_fees", :method => :post) do |f|                                       
                %td= influencer.twitter_username 
                %td= influencer.firstname 
                %td= influencer.lastname
                %td= f.text_field :borwin_fee, :class => "text_field"                                                                                 
                %td.last
                  %button.button{ :type => "submit" }
                    = image_tag "web-app-theme/icons/tick.png"
                    Guardar              