- if flash.any?
  .row
    .span8.offset2
      = render '/shared/flash', flash: flash
.row
  .span8.offset2
    .frontend_round_content
      .main_blue_title= t('tweet_modification')

      %h3= t('non_modifiable_data')
      %dl.record_details
        %dt= t('campaign')
        %dd= dl_value @tweet.campaign.name
        %dt= t('company')
        %dd= dl_value @tweet.campaign.advertiser.company
        %dt= t('celebrity')
        %dd= dl_value @tweet.influencer.full_name
        %dt= t('status')
        %dd= tweet_status_explanation(@tweet.status)

      %h3= t('modifiable_data')

      = simple_form_for @tweet, url: [:admin, @campaign, @tweet], html: { class: 'vertical-form tweet_proposal' } do |f|
        = f.input :tweet_at, minute_step: 1, start_year: Time.now.year, end_year: Time.now.year + 1, input_html: { class: 'tweet_time' }

        .form-actions
          = f.submit(t('accept'), class: 'btn btn-large btn-primary')
          = link_to(t('cancel'), [:admin, @tweet.campaign, @tweet], class: 'btn btn-large')

