- if flash.any?
  .row
    .span8.offset2
      = render '/shared/flash', flash: flash
.row
  .span8.offset2
    .frontend_round_content
      .main_blue_title= t('tweet_details')

      %dl.record_details
        %dt= t('campaing')
        %dd= dl_value @tweet.campaign.name
        %dt= t('company')
        %dd= dl_value @tweet.campaign.advertiser.company
        %dt= t('celebrity')
        %dd= dl_value @tweet.influencer.full_name
        %dt= t('tweet')
        %dd= dl_value @tweet.text
        %dt= t('tweet_date')
        %dd= localize(@tweet.tweet_at, :format => "%d/%m/%Y %H:%M")
        %dt= t('link')
        %dd= @tweet.link_url
        %dt= t('fee_type')
        %dd= @tweet.fee_type == 'tweet_fee' ? "Pago por publicación" : "Pago por click"
        %dt= t('price')
        %dd= @tweet.fee_type == 'tweet_fee' ? "$#{sprintf("%.02f", @tweet.tweet_fee)}" : "$#{sprintf("%.02f", @tweet.cpc_fee)}"
        %dt= t('status')
        %dd= tweet_status_explanation(@tweet.status)

      .form-actions.center_text
        = link_to(t('list'), [:admin, @campaign], class: 'btn btn-large btn-primary')
        - unless ['activated'].include?(@tweet.status)
          = link_to(t('edit'), [:edit, :admin, @campaign, @tweet], class: 'btn btn-large btn-warning')
          = link_to(t('reject'), [:reject, :admin, @campaign, @tweet], method: :get, class: 'btn btn-large btn-danger', confirm: '¿Esta seguro que desea rechazar el Tweet?')
