%h1 Listing messages

%table
  %tr
    %th Source
    %th Destination
    %th Title
    %th Message
    %th Message date
    %th Read
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.source_id
      %td= message.destination_id
      %td= message.title
      %td= message.message
      %td= message.message_date
      %td= message.read
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Message', new_message_path
