%p#notice= notice

%p
  %b Source:
  = @message.source_id
%p
  %b Destination:
  = @message.destination_id
%p
  %b Title:
  = @message.title
%p
  %b Message:
  = @message.message
%p
  %b Message date:
  = @message.message_date
%p
  %b Read:
  = @message.read

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
