#block-text.block
  .content
    %h2.title Perfiles por Usuario
    .inner
      %table{:class => :table}
        %tr
          %th Usuario
          %th Costo Fijo
          %th Costo por Click
          %th Costo Fijo (+ por Click)
          %th Costo por Click (+ Fijo)                        
          %th
          
          - @profiles.each do |profile|            
            %tr{ :class => cycle('odd', 'even') }
              %td= link_to profile.twitter_username, influencer_path(profile.id) 
              %td= number_to_currency(profile.fee, :precision => 2)              
              %td= number_to_currency(profile.cpc, :precision => 2)
              %td= number_to_currency(profile.fee_cpc, :precision => 2)  
              %td= number_to_currency(profile.cpc_fee, :precision => 2)                                                           
              %td= link_to 'Editar', edit_profile_path(profile)                  