- content_for :head do
  = javascript_include_tag 'http://widgets.twimg.com/j/2/widget.js'

.row
  .span12
    %ul.breadcrumb
      %li
        = link_to(t('campaigns'), [:advertiser, :campaigns])
        %span.divider /
      %li
        = link_to(@campaign.name, [:advertiser, @campaign])
        %span.divider /
      %li.active= t('tweets')


- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    .round_box
      .content
        %h1.title= t('celebrities')

        %table.table.table-striped
          %thead
            %tr
              %th= sort_link(@search, :first_name_and_last_name, 'Celebridad')
              %th= t('campaign_price')
              %th= t('followers')
              %th= t('friends')
              %th{ :title => 'Obtenido a partir de Klout, Kred y PeerIndex', :class => 'kkp' } Influencia KKP
              %th= t('actions')

          %tbody
            - @influencers.each do |influencer|
              %tr{ :class => cycle('odd', 'even') }
                %td= link_to(influencer.full_name, advertiser_campaign_influencer_profile_path(@campaign, influencer.influencer_id))
                %td= sprintf("$ %.02f", influencer.campaign_fee)
                %td= influencer.followers
                %td= influencer.friends
                %td{ :title => 'Obtenido a partir de Klout, Kred y PeerIndex', :class => 'kkp' }
                  =influencer_kkp(influencer)
                %td
                  = link_to(t('tweet_propose'), new_advertiser_campaign_tweet_path(@campaign, influencer_id: influencer.influencer_id), class: 'btn btn-primary')
        .center_text
          = paginate @influencers
          = link_to(t('back'), [:advertiser, @campaign], class: 'btn')


        .filters
          .subtitle= t('search')
          = simple_form_for @search, :url => [:advertiser, @campaign, :tweets], html: {method: :get, id: 'filter_form', class: 'form-horizontal'} do |f|
            = f.input :first_name_or_last_name_contains, label: "Nombre", required: false
            .form-actions
              = f.submit 'Búscar', :class => 'btn btn-primary'
              = link_to t('cancel'), '#', :class => 'btn reset'

:javascript
  $(document).ready(function() {
    $('.kkp').tooltip()
  }
