- content_for :head do
  = javascript_include_tag 'http://widgets.twimg.com/j/2/widget.js'
  = javascript_include_tag 'advertiser/new_tweet'

.row
  .span12{style: 'width: 970px'}
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:advertiser, :campaigns])
        %span.divider /
      %li
        = link_to(@campaign.name, [:advertiser, @campaign])
        %span.divider /
      %li
        = link_to("Tweets", [:advertiser, @campaign, :tweets])
        %span.divider /
      %li.active
        Proponer Tweet -
        = @influencer.full_name

- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span9

    .profile_round_box
      .profile_resume_head
        %h1
          = @influencer.full_name
        .influencer_type
          %span= @influencer.influencer_type

        .price
          %span= "$#{@influencer.tweet_fee.to_f.round}"
          por tweet

      .profile_body
        .twitter_overview
          .overview_data.clearfix
            %h2
              = link_to("@#{@influencer.user.twitter_screen_name}", "https://twitter.com/#!/#{@influencer.user.twitter_screen_name}")
            %p
              %strong= "Bio:"
              = @influencer.twitter_bio
            %p
              %strong= "Último Tweet:"
              = @twitter_user.status.try(:text)
          .twitter_photo
            - if @influencer.photo.exists?
              = image_tag(@influencer.photo.url(:profile))
            - else
              = image_tag('no_photo.jpg')
      - if @tweets.count > 0
        %hr
          .form_title Tweets propuestos
          %table.table.table-striped
            %thead
              %tr
                %th Tweet
                %th Fecha y hora
                %th Tipo de cobro
                %th Estado

            %tbody
              - @tweets.each do |tweet|
                %tr{ :class => cycle('odd', 'even') }
                  %td= tweet.text
                  %td= (localize(tweet.tweet_at, :format => "%d/%m/%Y %H:%M"))
                  %td= tweet.fee_type == 'tweet_fee' ? "Tweet: $#{sprintf("%.02f", tweet.tweet_fee)}" : "Click: $#{sprintf("%.02f", tweet.cpc_fee)}"
                  %td= advertiser_tweet_status(tweet.status)

      %hr
      .tweet_proposal.clearfix
        .form_title Propuesta de nuevo Tweet
        = simple_form_for @tweet_group, url: advertiser_campaign_tweets_path(@campaign), html: { class: 'vertical-form' } do |f|
          = f.simple_fields_for :tweets do |tf|
            = tf.input :text, as: :text, label: 'Tweet', input_html: { style: 'width: 650px;height: 40px' }
            = tf.input :tweet_at, minute_step: 15, start_year: Time.now.year, end_year: Time.now.year + 1, label: 'Fecha y hora de tweet', input_html: { class: 'tweet_time' }

            - if @campaign.price_per_click
              = tf.input :fee_type, as: :radio, collection: [["Precio por Tweet - AR$ #{sprintf("%.02f", @influencer.tweet_fee)}", 'tweet_fee'], ["Precio por Click - AR$ #{sprintf("%.02f", @influencer.cpc_fee)}", 'cpc_fee']], label: 'Tipo de pago'
            - else
              - tf.object.fee_type = 'tweet_fee'
              = tf.input :fee_type, as: :radio, collection: [["Precio por Tweet - AR$ #{sprintf("%.02f", @influencer.tweet_fee)}", 'tweet_fee'], ["Precio por Click - AR$ #{sprintf("%.02f", @influencer.cpc_fee)}", 'cpc_fee']], label: 'Tipo de pago', input_html: { disabled: 'disabled' }

            = tf.input :campaign_id, as: :hidden
            = tf.input :influencer_id, as: :hidden

            %hr
          = f.input :campaign_id, as: :hidden
          = f.input :influencer_id, as: :hidden


          .form-actions
            = f.submit 'Proponer y volver a la campaña', class: 'btn btn-primary btn-large', id: 'create_and_back'

          .center_text
            = link_to('Volver a la campaña', [:admin, @campaign], class: 'btn btn-large')



  .span3
    .profile_round_box
      :javascript
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 4,
          interval: 30000,
          width: 250,
          height: 300,
          theme: {
            shell: {
              background: '#1F91D0',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#6b6b6b',
              links: '#2f8dcc'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('#{@influencer.user.twitter_screen_name}').start();
