- if flash.any?
  .row
    .span8.offset2
      = render '/shared/flash', flash: flash
.row
  .span8.offset2
    .frontend_round_content
      .main_blue_title Detalles de Tweet

      %dl.record_details
        %dt Campaña
        %dd= dl_value @tweet.campaign.name
        %dt Empresa
        %dd= dl_value @tweet.campaign.advertiser.company
        %dt Celebridad
        %dd= dl_value @tweet.influencer.full_name
        %dt Tweet
        %dd= dl_value @tweet.text
        %dt Fecha y hora del tweet
        %dd= localize(@tweet.tweet_at, :format => "%d/%m/%Y %H:%M")
        %dt Link
        %dd= @tweet.link_url
        %dt Tipo de pago
        %dd= @tweet.fee_type == 'tweet_fee' ? "Pago por publicación" : "Pago por click"
        %dt Precio
        %dd= @tweet.fee_type == 'tweet_fee' ? "$#{sprintf("%.02f", @tweet.tweet_fee)}" : "$#{sprintf("%.02f", @tweet.cpc_fee)}"
        %dt Estado
        %dd= tweet_status_explanation(@tweet.status)
        - unless @tweet.reject_cause.nil?
          %dt Causa
          %dd= @tweet.reject_cause
        - if @tweet.status == 'active'
          %dt Tweet
          %dd= link_to("https://twitter.com/#{@tweet.influencer.user.twitter_screen_name}/status/#{@tweet.twitter_id}", "https://twitter.com/rorra/status/#{@tweet.twitter_id}", target: '_blank')

      .form-actions.center_text
        - if ['influencer_reviewed'].include?(@tweet.status)
          = link_to('Aprobar', [:accept, :advertiser, @campaign, @tweet], method: :put, class: 'btn btn-large btn-primary', confirm: '¿Esta seguro que desea aceptar el Tweet?')
          = link_to('Modificar', [:edit, :advertiser, @campaign, @tweet], class: 'btn btn-large btn-warning')
          = link_to('Rechazar', [:advertiser, @campaign, @tweet], method: :delete, class: 'btn btn-large btn-danger', confirm: '¿Esta seguro que desea rechazar el Tweet?')
        = link_to('Listado', [:advertiser, @campaign], class: 'btn btn-large')
