.row.registration_container
  .span6.offset3
    %h1.center_text Registración de Celebridad
    = simple_form_for(@user, :url => influencer_registration_path(@user), :html => { :class => "form-horizontal" }) do |f|
      = render '/shared/simple_form_errors', :f => f
      = f.input :email
      = f.simple_fields_for :influencer do |i|
        = i.input :first_name
        = i.input :last_name
        = i.input :sex, :as => :radio_buttons, :collection => [['Hombre', 'M'], ['Mujer', 'F']], :include_blank => false
        = i.input :influencer_type, :as => :select, :collection => ["Actor", "Músico", "Deportista", "Conductor", "Periodista", "Modelo", "Mediático", "Artista", "Panelista", "Cheff", "Humorista", "Moda", "Twitteros", "Otros"], :include_blank => false
        = i.input :description, :as => :text, :input_html => {:rows => 4, :cols => 60 }
        = i.input :referrer_description

      .form-actions
        = f.submit 'Registrarse'

.row.terms_and_conditions
  .span6.offset3
    %div.terms_and_conditions.center_text
      Al registrarse acepta los
      = link_to("Términos y Condiciónes", "/terms")
      del servicio

.row
  .span6.offset3
    .sign-links.center_text
      = link_to "Iniciar sesión", new_session_path('user')
      |
      = link_to "¿Olvidaste tu contraseña?", new_password_path('user')