.row.registration_container
  .span6.offset3.round_box
    = simple_form_for(@user, :url => influencer_registration_path(@user), :html => { :class => "form-horizontal" }) do |f|
      %h1.form_title Registración de Celebridad
      = render '/shared/simple_form_errors', :f => f
      = f.input :email
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      = f.simple_fields_for :influencer do |i|
        = i.input :first_name
        = i.input :last_name
        = i.input :birthday, as: :string
        = i.input :sex, :as => :select, :collection => [['Hombre', 'M'], ['Mujer', 'F']], :include_blank => true
        = i.input :influencer_type, :as => :select, :collection => ["Actor", "Músico", "Deportista", "Conductor", "Periodista", "Modelo", "Mediático", "Artista", "Panelista", "Cheff", "Humorista", "Moda", "Twitteros", "Otros"], :include_blank => true
        = i.input :description, :as => :text, :input_html => {:rows => 2, :cols => 60 }
        - if @referrer
          = i.input :referrer_description, input_html: {value: @referrer.influencer.full_name, disabled: 'disabled'}
        - else
          = i.input :referrer_description
      - if @referrer
        = f.input :referrer_id, as: :hidden, input_html: {value: @referrer.id}

      .form-actions
        = f.submit 'Registrarse', :class => 'btn btn-primary btn-large'

    %div.terms_and_conditions.center_text
      Al registrarse acepta los
      = link_to("Términos y Condiciones", "/terms")
      del servicio

    .sign-links.center_text
      = link_to "Iniciar sesión", new_session_path('user')
      |
      = link_to "¿Olvidaste tu contraseña?", new_password_path('user')

:javascript
  $(document).ready(function() {
    $('#user_influencer_attributes_birthday').datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "-100:-10",
      reverseYearRange: true,
      defaultDate: "01/01/1994"
    });
  })