= form_for @top_follower do |f|
  -if @top_follower.errors.any?
    #error_explanation
      %h2= "#{pluralize(@top_follower.errors.count, "error")} prohibited this top_follower from being saved:"
      %ul
        - @top_follower.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :influencer_id
    = f.number_field :influencer_id
  .field
    = f.label :twitter_username
    = f.text_field :twitter_username
  .field
    = f.label :followers
    = f.number_field :followers
  .field
    = f.label :followers_followers
    = f.number_field :followers_followers
  .field
    = f.label :clicks
    = f.number_field :clicks
  .field
    = f.label :retweets
    = f.number_field :retweets
  .actions
    = f.submit 'Save'
