%h1 Listing top_followers

%table
  %tr
    %th Influencer
    %th Twitter username
    %th Followers
    %th Followers followers
    %th Clicks
    %th Retweets
    %th
    %th
    %th

  - @top_followers.each do |top_follower|
    %tr
      %td= top_follower.influencer_id
      %td= top_follower.twitter_username
      %td= top_follower.followers
      %td= top_follower.followers_followers
      %td= top_follower.clicks
      %td= top_follower.retweets
      %td= link_to 'Show', top_follower
      %td= link_to 'Edit', edit_top_follower_path(top_follower)
      %td= link_to 'Destroy', top_follower, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Top follower', new_top_follower_path
