%p#notice= notice

%p
  %b Influencer:
  = @top_follower.influencer_id
%p
  %b Twitter username:
  = @top_follower.twitter_username
%p
  %b Followers:
  = @top_follower.followers
%p
  %b Followers followers:
  = @top_follower.followers_followers
%p
  %b Clicks:
  = @top_follower.clicks
%p
  %b Retweets:
  = @top_follower.retweets

= link_to 'Edit', edit_top_follower_path(@top_follower)
\|
= link_to 'Back', top_followers_path
