- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    .round_box
      .content
        %h1.title= t('cash_out')


        %table.table.table-striped
          %thead
            %tr
              %th= t('a_date')
              %th= t('status')
              %th= t('amount')
              %th= t('actions')

          %tbody
            - @cash_outs.each do |cash_out|
              %tr{ :class => cycle('odd', 'even') }
                %td= localize(cash_out.created_at, :format => "%d/%m/%Y %H:%M:%S")
                %td= cash_out.status_to_s
                %td= number_to_currency(cash_out.amount)
                %td
                  = link_to(t('see'), [:affiliate, cash_out], class: 'btn btn-primary')
        .center_text
          = paginate @cash_outs
