.row.registration_container
  .span6.offset3
    = simple_form_for(@influencer, :url => influencer_profiles_process_contact_data_path, :html => { class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title Datos de contacto
      = render '/shared/simple_form_errors', :f => f
      = f.input :address
      = f.input :country
      = f.input :state
      = f.input :city
      = f.input :zip_code
      = f.input :phone
      = f.input :cell_phone
      = f.input :contact_time
      = f.input :contact_method, :as => :select, :collection => [["Email", 'email'], ["Teléfono", 'phone'], ["Direct Message", 'direct_message']]

      .form-actions
        = f.submit 'Guardar', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', influencer_profile_path, class: 'btn btn-large'
