- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    .round_box
      .content
        %h1.title Transacciones

        %table.table.table-striped
          %thead
            %tr
              %th= sort_link(@search, :transaction_at, 'Fecha')
              %th= sort_link(@search, :type, "Tipo")
              %th Link
              %th= sort_link(@search, :amount, "Importe")
              %th= sort_link(@search, :balance, "balance")
              %th Acciones

          %tbody
            - @transactions.each do |transaction|
              %tr{ :class => cycle('odd', 'even') }
                %td= localize(transaction.transaction_at, :format => "%d/%m/%Y %H:%M:%S")
                %td= transaction_type_description(transaction.transaction_type)
                %td= influencer_attachable_link(transaction.attachable)
                %td= sprintf("%.02f", transaction.amount)
                %td= sprintf("%.02f", transaction.balance)
                %td
                  = link_to('Ver', [:influencer, transaction], class: 'btn btn-primary')
        .center_text
          = paginate @transactions

        .filters
          .subtitle Filtros
          = simple_form_for @search, :url => [:influencer, :transactions], html: {method: :get, id: 'filter_form', class: 'form-horizontal'} do |f|
            = f.input :transaction_at_greater_than_or_equal_to, label: 'Desde', required: false, input_html: { class: 'medium', id: 'from_datepicker', value: @search.transaction_at_greater_than_or_equal_to ? @search.transaction_at_greater_than_or_equal_to.strftime("%d/%m/%Y") : ''}
            = f.input :transaction_at_less_than_or_equal_to, label: 'Hasta', required: false, input_html: { class: 'medium', id: 'to_datepicker', value: @search.transaction_at_less_than_or_equal_to ? @search.transaction_at_less_than_or_equal_to.strftime("%d/%m/%Y") : ''}
            = f.input :amount_greater_than, label: 'Importe mayor a', required: false
            = f.input :amount_less_than, label: 'Importe menor a', required: false
            .form-actions
              = f.submit 'Filtrar', :class => 'btn btn-primary'
              = link_to 'Resetear', '#', :class => 'btn reset'