- content_for :head do
  = javascript_include_tag 'highcharts'

.row
  .span12
    .round_box
      .content
        .title Gráficos / Estadísticas

        = "En total hay #{Influencer.count} celebridades."
        %br
        = "La cantidad actual de seguidores es #{Audience.sum(:followers)}"


