- content_for :head do
  = javascript_include_tag 'highcharts'

.row
  .span12
    .round_box
      .content
        .title Gráficos / Estadísticas

        = "En total hay #{Influencer.count} celebridades."
        %br
        = "La cantidad actual de seguidores es #{number_with_delimiter(Audience.sum(:followers), delimiter: '.')}"
        %br
        = "La cantidad de usuarios unicos es #{number_with_delimiter(TwitterUser.count, delimiter: '.')}"
        %br
        = "La cantidad de usuarios con ubicación, screen name y género es #{number_with_delimiter(TwitterUser.where('twitter_screen_name is not null').count, delimiter: '.')}"
        %br
        = "La cantidad de usuarios de los cuáles se sacaron los hobbies es #{number_with_delimiter(TwitterUser.where('last_sync_at is not null').count, delimiter: '.')}"

        %br
        %br
        %br
        %br
        %br
        = link_to("Cambiar Password", admin_dashboard_change_password_path, class: 'btn btn-large')


