- content_for :head do
  = javascript_include_tag 'highcharts'

.row
  .span12
    .round_box
      .content
        .title Gráficos / Estadísticas

        = "En total hay #{Influencer.count} celebridades."
        %br
        = "La cantidad actual de seguidores es #{number_with_delimiter(Audience.sum(:followers), delimiter: '.')}"
        %br
        = "Seguidores únicos: #{number_with_delimiter(TwitterUser.count, delimiter: '.')}"
        %br
        %br
        %br
        %br
        %br
        = link_to("Cambiar Password", admin_dashboard_change_password_path, class: 'btn btn-large')


