%h1
  - if @cash_out.user.role == 'influencer'
    = "#{@cash_out.user.full_name} ha solicitado un Cash Out"

%p
  Usuario:
  = @cash_out.user.full_name

%p
  Importe:
  = @cash_out.amount

%p
  Fecha
  = @cash_out.created_at.strftime("%d/%m/%Y %H:%M:%S")

