%h1
  Tweet que expira en #{@time} minutos

%p
  Campaña:
  = @tweet.campaign.name

%p
  Celebridad:
  = @tweet.influencer.full_name

%p
  Tweet:
  = @tweet.text

%p
  Hora de expiración:
  = @tweet.tweet_at.strftime("%d-%m-%y %H:%M:%S")
