%p.title
  = "Uno de tus tweets vence en #{@time} minutos, "
%p.body
  = link_to("accede al sitio para aprobar su publicación", [:advertiser, @tweet.campaign, @tweet])
%p.body
  Campaña:
  = @tweet.campaign.name
%p.body
  Celebridad:
  = @tweet.influencer.full_name
%p.body
  Tweet:
  = @tweet.text
%p.body
  Hora de expiración:
  = @tweet.tweet_at.strftime("%d-%m-%y %H:%M:%S")
