
%p.style1
  %br/
  %span.style3

%p.style4
  = "Uno de tus tweets vence en #{@time} minutos, "
  = link_to("accede al sitio para aprobar su publicación", [:advertiser, @tweet.campaign, @tweet])
%p.style4
  Campaña:
  = @tweet.campaign.name

%p.style4
  Celebridad:
  = @tweet.influencer.full_name

%p.style4
  Tweet:
  = @tweet.text

%p.style4
  Hora de expiración:
  = @tweet.tweet_at.strftime("%d-%m-%y %H:%M:%S")
