%p.title
  Tweet que expira en #{@time} minutos

%p.body
  Campaña:
  = @tweet.campaign.name

%p.body
  Celebridad:
  = @tweet.influencer.full_name

%p.body
  Tweet:
  = @tweet.text

%p.body
  Hora de expiración:
  = @tweet.tweet_at.strftime("%d-%m-%y %H:%M:%S")
