%p.title
  Social Target® te informa que tienes un nuevo referido!
%p.body
  - if @referral.role == 'influencer'
    = "#{@referral.influencer.full_name} (#{link_to("@" + @referral.twitter_screen_name, "http://twitter.com/#!/" + @referral.twitter_screen_name)}"
  - elsif @referral.role == 'advertiser'
    = "#{@referral.advertiser.to_s}"
  se ha registrado en el sitio y ahora es parte de tus referidos.
%p.body Gracias por elegirnos,
