%p.title
  Social Target® te informa que un usuario que referiste ha generado ingresos!
%p.body
  - if @referral.class == Influencer
    = "#{@referral.first_name + " " + @referral.last_name} (#{link_to("@" + @referral.user.twitter_screen_name, "http://twitter.com/#!/" + @referral.user.twitter_screen_name)}"
  - elsif @referral.class == User
    = "#{@referral.twitter_screen_name}"
%p.body Gracias por elegirnos,
