%h1
  Contacto de anunciante
%p
  Nombre:
  = @site_advertiser_contact.name
%p
  Empresa:
  = @site_advertiser_contact.company
%p
  Email:
  = @site_advertiser_contact.email
%p
  Campaña:
  = @site_advertiser_contact.cmampaign
%p
  Objetivos:
  = @site_advertiser_contact.objective
%p
  Presupuesto:
  = @site_advtertiser_contact.budget
%p
  Fecha estimada:
  = @site_advertiser_contact.date
%p
  Edades
%p
  Hobbies

