%p.title
  Contacto de anunciante
%p.body
  Nombre:
  = @site_advertiser_contact.name
%p.body
  Empresa:
  = @site_advertiser_contact.company
%p.body
  Email:
  = @site_advertiser_contact.email
%p.body
  Campaña:
  = @site_advertiser_contact.cmampaign
%p.body
  Objetivos:
  = @site_advertiser_contact.objective
%p.body
  Presupuesto:
  = @site_advtertiser_contact.budget
%p.body
  Fecha estimada:
  = @site_advertiser_contact.date
%p.body
  Edades
%p.body
  Hobbies

