!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}/
    %title Notificaciones BORWIN - It´s time to go Social!
    :css
      .style1 { font-size: 14px; font-family: Calibri; }
      .style2 { font-size: 12px; font-family: Calibri; color: #666666; }
      .style3 { color: #333333 }
      .style4 { font-size: 14px; font-family: Calibri; color: #333333; }
  %body
    %p.style1
      = image_tag attachments['logo.jpg'].url
    %p.style1
      %br/
      %span.style3

    %p.style4
      Un nuevo usuario se ha registrado.
    %p.style4
      %ul
        %li= "Nombre: #{@user.full_name}"
        %li= "Email: #{@user.email}"
        %li= "Tipo: #{I18n.t("user.role." + @user.role)}"
        - if @user.referrer
          %li= "Referido de: #{@user.referrer.full_name} (#{@user.referrer.email})"
        - elsif @user.role == 'influencer' && @user.influencer.referrer_description.size > 0
          %li= "Referido por: #{@user.influencer.referrer_description} (Asignar manualmente)"
    %p.style4
      = image_tag attachments['sellochico.jpg'].url
    %p.style4
      \--The Borwin Team
      %br/
      %em It’s time to go social!
      %br/
      %a{:href => "http://www.borwin.net"} http://www.borwin.net
    %p.style2 © 2012, Borwin Corporation