%p.style1
  %br/
  %span.style3

%p.style4
  Un nuevo usuario se ha registrado.
%p.style4
  %ul
    %li= "Nombre: #{@user.full_name}"
    %li= "Email: #{@user.email}"
    %li= "Tipo: #{I18n.t("user.role." + @user.role)}"
    - if @user.referrer
      %li= "Referido de: #{@user.referrer.full_name} (#{@user.referrer.email})"
    - elsif @user.role == 'influencer' && !@user.influencer.referrer_description.nil? && @user.influencer.referrer_description.size > 0
      %li= "Referido por: #{@user.influencer.referrer_description} (Asignar manualmente)"
