- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title= t('payment_order')
        %dl.record_details
          %dt= t('amount')
          %dd= sprintf("%.02f", @payment.amount)
          %dt= t('description')
          %dd= @payment.description
      .clear.center_text.show_buttons
        = link_to(t('pay'), @payment.payment_url, name: 'MP-Checkout', class: "#{APP_CONFIG['mercadopago_paybutton_class']}" )
        %script{:type => "text/javascript",
                :src  => "http://mp-tools.mlstatic.com/buttons/render.js"}
        %br
        %br
        = link_to( t('cancel'), [:advertiser, :payments], class: 'btn btn-mini btn-reverse')

