#block-text.block.right.xsmall
  .content
    %h2.title Filtros
    .inner
      = form_tag "/tweets", :method => "GET", :remote => "true", :class => "form" do
        .group.wat-cf
          .right= label :status, "Estado", :class => "label right"
          .right
            %p
              = check_box_tag "status[]", "X", false, :class => "checkbox"
              Pendientes
            %p
              = check_box_tag "status[]", "F", false, :class => "checkbox"
              Finalizados              
            %p 
              = check_box_tag "status[]", "P", false, :class => "checkbox"
              Publicados              
            %p   
              = check_box_tag "status[]", "R", false, :class => "checkbox"    
              Rechazados por Celebridad              
            %p 
              = check_box_tag "status[]", "I", false, :class => "checkbox"               
              Rechazados por Anunciante
            %p 
              = check_box_tag "status[]", "A", false, :class => "checkbox"               
              Aprobados por Celebridad
        .group.wat-cf
          .right= label :payment_type, "Tipo de Publicación", :class => "label right"
          .right
            %p
              = check_box_tag "payment_type[]", "fee", false, :class => "checkbox"
              Costo Fijo
            %p
              = check_box_tag "payment_type[]", "cpc", false, :class => "checkbox"
              Costo por Click              
            %p 
              = check_box_tag "payment_type[]", "fee+cpc", false, :class => "checkbox"
              Costo Fijo + Costo por Click                                
        .group.wat-cf
          .right
            %button.button{ :type => "submit" }
              = image_tag "theme/tick.png"
              Filtrar 
#block-text.block.left.xlarge
  .content
    %h2.title Tweets
    .inner
      #tweets= render :partial => 'tweets'
.clear                  