- content_for :head do
  = javascript_include_tag 'http://s7.addthis.com/js/250/addthis_widget.js#username=rorra'
:javascript
  var addthis_config = {
    ui_language: 'es',
  }
  var addthis_share = {
    url: 'http://borwin.net/I#{current_user.invitation_code}',
    title: 'Registrate en Borwin y gan치 dinero por twittear'
  }

- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span8
    .round_box
      .content
        .title= t('referrals')

        %p
          - if @referrals.count == 0
            = "Hasta el momento no has referido a ninguna persona. Recomend치 Borwin para comenzar a generar ingresos."
          - else
            = "Referiste #{@referrals.count} persona#{@referrals.count > 1 ? 's' : ''} que te genero "
            = link_to("#{number_to_currency(current_user.total_referral_earnings)} ingresos.", [:list, :influencer, :referrals])

        - if @referrals.count > 0
          %p
            = t('not_happy_refer')

        .title.title-margin Como funciona

        %p
          =t('influencers_referrals_text_1')

        %h4.borwin_blue Celebridades

        %p
          =t('influencers_referrals_text_2')

        %h4.borwin_blue Empresas anunciantes

        %p
          =t('influencers_referrals_text_3')

        .title.title-margin Tu link

        .share_link
          .twitter_link
            = link_to("http://borwin.net/I#{current_user.invitation_code}", "http://borwin.net/I#{current_user.invitation_code}", target: "_blank")
            .center_text
              %a.sharing-button
            :javascript
              addthis.button('.sharing-button', {}, {url: "http://borwin.net/I#{current_user.invitation_code}", title: "Registrate en Borwin y gan치 dinero por twittear"});

        %p
          =t('influencers_referrals_text_4')


  .span4
    .round_box
      .content
        %ul.nav.nav-pills.nav-stacked
          %li.active
            = link_to("#{content_tag('i', '&nbsp;'.html_safe, class: 'icon-info-sign icon-white').html_safe} &nbsp; Informaci칩n".html_safe, [:influencer, :referrals])
          %li
            = link_to("#{content_tag('i', '&nbsp;'.html_safe, class: 'icon-list-alt').html_safe} &nbsp; Mis Referidos".html_safe, [:list, :influencer, :referrals])

        %hr

        = form_for @user, url: [:update_options, :influencer, :referrals], html: { class: "form-referrals-options", method: :put } do |f|
          = f.check_box :mail_on_referral_singup
          %span.desc= t('mail_on_referral_signup')
          %br
          = f.check_box :mail_on_referral_profit, label: false
          %span.desc= t('mail_on_referral_profit')

          .center_text
            = f.submit t('save'), :class => 'btn btn-primary btn-large'

        %hr

        .center_text
          = borwin_twitter_link().html_safe
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");




