- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span8
    .round_box
      .content
        .title Referidos
        - if @referrals.count > 0
          %table.table.table-striped
            %thead
              %tr
                %th Referido
                %th Seguidores
                %th Ingreso por referido
                %th Referido desde
            %tbody
              - @referrals.each do |referral|
                %tr
                  %td
                    = "#{image_tag(referral.influencer.try(:twitter_image_url), style: 'display: inline')}".html_safe
                    &nbsp;
                    = link_to("@#{referral.twitter_screen_name}", "http://twitter.com/#!/#{referral.twitter_screen_name}", target: "_blank")
                  %td= referral.influencer.try(:audience).try(:followers)
                  %td= "$ 0.00"
                  %td= referral.referrer_on.try(:strftime, "%d/%m/%Y")
        - else
          .center_text
            %h1 Tus referidos se mostraran aquí
            %p
              Empieza a referrir personas y la lista se llenará.

  .span4
    .round_box
      .content
        %ul.nav.nav-pills.nav-stacked
          %li.active
            = link_to("Información", [:influencer, :referrals])
          %li
            = link_to("Listado", [:list, :influencer, :referrals])

        %hr

        = form_for @user, url: [:update_options, :influencer, :referrals], html: { class: "form-referrals-options", method: :put } do |f|
          = f.check_box :mail_on_referral_singup
          %span.desc Enviarme un email cuando un usuario se registre con mi código de referido
          %br
          = f.check_box :mail_on_referral_profit, label: false
          %span.desc Enviarme un email cuando mis referidos me generen ingresos

          = f.submit 'Guardar', :class => 'btn btn-primary btn-large', style: 'display: block'





