- if @referrals.count == 0
  - content_for :head do
    = javascript_include_tag 'http://s7.addthis.com/js/250/addthis_widget.js#username=rorra'
  :javascript
    var addthis_config = {
      ui_language: 'es',
    }
    var addthis_share = {
      url: 'http://borwin.net/I#{current_user.invitation_code}',
      title: 'Registrate en Borwin y ganá dinero por twittear'
    }

- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span8
    .round_box
      .content
        .title= t('referrals')
        - if @referrals.count > 0
          %table.table.table-striped.table-bordered.referrals_table
            %thead
              %tr
                %th.th1= t('referral')
                %th.th2= t('cost_per_tweet')
                %th.th3= t('referral_income')
                %th.th4= t('referral_since')
            %tbody
              - @referrals.each do |referral|
                %tr
                  %td.td1
                    - if referral.role == 'influencer'
                      .photo
                        = "#{image_tag(referral.influencer.try(:twitter_image_url), style: 'display: inline')}".html_safe
                      .data
                        = link_to("@#{referral.twitter_screen_name}", "http://twitter.com/#!/#{referral.twitter_screen_name}", target: "_blank")
                        %br
                        = referral.influencer.try(:audience).try(:followers)
                        seguidores
                    - elsif referral.role == 'advertiser'
                      .data
                        = referral.advertiser.to_s
                  %td.td2
                    - if referral.role == 'influencer'
                      = number_to_currency referral.influencer.influencer_tweet_fee.to_f
                    - elsif referral.role == 'advertiser'
                      = "-"
                  %td.td3= number_to_currency(current_user.referral_earnings(referral.id))
                  %td.td4= referral.referrer_on.try(:strftime, "%d/%m/%Y")
        - else
          %p
            =t('refer_someone')

          .title.title-margin Tu link

          %p
            =t('influencers_referrals_list_text_1')
            =t('influencers_referrals_list_text_2')
            =t('influencers_referrals_list_text_3')

          .share_link
            .twitter_link
              = link_to("http://borwin.net/I#{current_user.invitation_code}", "http://borwin.net/I#{current_user.invitation_code}", target: "_blank")
              .center_text
                %a.sharing-button
              :javascript
                addthis.button('.sharing-button', {}, {url: "http://borwin.net/I#{current_user.invitation_code}", title: "Registrate en Borwin y ganá dinero por twittear"});

          %p
            =t('influencers_referrals_list_text_4')

  .span4
    .round_box
      .content
        %ul.nav.nav-pills.nav-stacked
          %li
            = link_to("#{content_tag('i', '&nbsp;'.html_safe, class: 'icon-info-sign').html_safe} &nbsp; Información".html_safe, [:influencer, :referrals])
          %li.active
            = link_to("#{content_tag('i', '&nbsp;'.html_safe, class: 'icon-list-alt icon-white').html_safe} &nbsp; Mis Referidos".html_safe, [:list, :influencer, :referrals])

        %hr

        = form_for @user, url: [:update_options, :influencer, :referrals], html: { class: "form-referrals-options", method: :put } do |f|
          = f.check_box :mail_on_referral_singup
          %span.desc= t('mail_on_referral_signup')
          %br
          = f.check_box :mail_on_referral_profit, label: false
          %span.desc= t('mail_on_referral_profit')

          .center_text
            = f.submit t('save'), :class => 'btn btn-primary btn-large'

        %hr

        .center_text
          = '<a href="https://twitter.com/BorwinAR" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir en @BorwinAR</a>'.html_safe
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");





