- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span8
    .round_box
      .content
        .title Referidos
        - if @referrals.count > 0
          %table.table.table-striped
            %thead
              %tr
                %th Referido
                %th Seguidores
                %th Ingreso por referido
                %th Referido desde
            %tbody
              - @referrals.each do |referral|
                %tr
                  %td= "#{image_tag(referral.twitter_image_url)} #{referral.user.try(:twitter_screen_name)}"
                  %td= referral.audience.followers
                  %td= "$ 0.00"
                  %td= referral.referral_on.try(:strftime, "%d/%m/%Y")
        - else
          .center_text
            %h1 Anyone you refer will show up here
            %p
              Start referring people and this list will fill up!

  .span4
    .round_box
      %ul.nav.nav-pills.nav-stacked
        %li.active
          = link_to("Información", [:influencer, :referrals])
        %li
          = link_to("Listado", [:list, :influencer, :referrals])

      %hr

      = simple_form_for @user, url: [:update_options, :influencer, :referrals], html: { class: "form-horizontal", method: :put } do |f|
        = f.input :mail_on_referral_singup, label: "Enviarme un email cuando un usuario se registre con mi código de referido"
        = f.input :mail_on_referral_profit, label: "Enviarme un email cuando mis referidos me generen ingresos"

        .form-actions
          = f.submit 'Guardar', :class => 'btn btn-primary btn-large'




