.row.login_container
  .span6.offset3
    %h1.center_text Cambiar Contraseña
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "form-horizontal" }, :method => :put) do |f|
      = f.hidden_field :reset_password_token
      = render '/shared/simple_form_errors', :f => f
      = f.input :password
      = f.input :password_confirmation
      .form-actions
        = f.submit 'Cambiar Contraseña'


.sign-links
  = link_to "← Volver al sitio web", root_path
%br
%br
