- content_for :head do 
  = javascript_include_tag('home.js')

.container
  .span7.center.register
    %h3
      Qué tipo de perfil deseas crear
    %ul
      %li#one
        = image_tag ('imagenes/prueba.png')
        %p
          %b Agencia
      %li
        =link_to image_tag ('imagenes/prueba2.png')
        %p
          %b Anunciante
      %li
        =link_to image_tag ('imagenes/prueba3.png')
        %p
        %b Influenciador
    #anunciante.hid
      !Regístrate y crea tú mismo
      campañas de marketing
      a través del Twitter de los famosos
      más relevantes! 
    
  .span4
    .h
      .form_advertirser
        %h3 !Hola anunciante!
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
          - if session[:referrer_id]
            - referrer = User.where(id: session[:referrer_id]).first
            = render partial: '/shared/referrer_invitation', locals: { referrer: referrer }
            %br

          = render '/shared/simple_form_errors', :f => f
          = hidden_field_tag :user_role, resource.role
          = f.input :email, label: false, :placeholder =>"*Email"
          = f.input :password, required: true, label: false, :placeholder =>"*password"
          = f.input :password_confirmation, required: true, label: false, :placeholder =>"*password confirmation"
          = f.simple_fields_for :advertiser do |a|
            = a.input :first_name, label: false, :placeholder =>" *Nombre"
            = a.input :last_name, label: false, :placeholder =>"*Apellidos"
            = a.input :position, label: false, :placeholder =>"*Cargo"
            = a.input :company, label: false, :placeholder =>"*Compañia"
            = a.input :twitter_screen_name, label: false, :placeholder =>"*Twitter"
            = a.input :phone, label: false, :placeholder =>"*Telefono"
            = a.input :web, label: false, :placeholder =>"Web"
            = a.input :advertising_source, label: false, :placeholder =>""
          - if @referrer
            = f.input :referrer_id, as: :hidden, input_html: { value: @referrer.id }
            = f.input :referrer_on, as: :hidden, input_html: { value: Date.today.strftime("%m-%d-%Y") }

          .form-actions
            = f.submit 'Registrarse', :class => 'btn btn-primary btn-large'
    .hid
      .form_affiliate
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal round_form" }) do |f|
          = render '/shared/simple_form_errors', :f => f
          = hidden_field_tag :user_role, resource.role
          = f.input :email
          = f.input :password, required: true
          = f.input :password_confirmation, required: true
          = f.simple_fields_for :affiliate do |a|
            = a.input :first_name
            = a.input :last_name
            = a.input :company
            = a.input :twitter_screen_name
            = a.input :phone
          .form-actions
            = f.submit 'Registrarse', :class => 'btn btn-primary btn-large'
    .hid
      .form_influencer
        - if session[:referrer_id]
          - referrer = User.where(id: session[:referrer_id]).first
          = render partial: '/shared/referrer_invitation', locals: { referrer: referrer }

        %div.center_text
          = link_to("Regístrate con tu cuenta de Twitter", signin_path, class: 'btn btn-large btn-primary')
        %br

      %div.terms_and_conditions.center_text
        %span{style: 'color: #1E92D3;'}
          SOCIAL TARGET
          cumple y respeta las normas y políticas de uso de
        = link_to('Twitter', 'http://twitter.com/tos', target: '_blank')

        %br
        %br

        Al registrarse acepta los
        = link_to("Términos y Condiciones", terms_path)
        del servicio

      .sign-links.center_text
        = link_to "Iniciar sesión", new_session_path(resource_name)
        |
        = link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name)

.row
  .span6.offset3
   

    %div.terms_and_conditions.center_text
      Al registrarse acepta los
      = link_to("Términos y Condiciones", terms_path)
      del servicio

    .sign-links.center_text
      = link_to "Iniciar sesión", new_session_path(resource_name)
      |
      = link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name)