.row.registration_container
  .span6.offset3.round_box
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
      %h1.form_title Registración de Anunciante

      - if session[:referrer_id]
        - referrer = User.where(id: session[:referrer_id]).first
        = render partial: '/shared/referrer_invitation', locals: { referrer: referrer }
        %br

      = render '/shared/simple_form_errors', :f => f
      = hidden_field_tag :user_role, resource.role
      = f.input :email
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      = f.simple_fields_for :advertiser do |a|
        = a.input :first_name
        = a.input :last_name
        = a.input :position
        = a.input :company
        = a.input :twitter_screen_name
        = a.input :phone
        = a.input :web
        = a.input :advertising_source
      - if @referrer
        = f.input :referrer_id, as: :hidden, input_html: { value: @referrer.id }
        = f.input :referrer_on, as: :hidden, input_html: { value: Date.today.strftime("%m-%d-%Y") }

      .form-actions
        = f.submit 'Registrarse', :class => 'btn btn-primary btn-large'

    %div.terms_and_conditions.center_text
      Al registrarse acepta los
      = link_to("Términos y Condiciones", terms_path)
      del servicio

    .sign-links.center_text
      = link_to "Iniciar sesión", new_session_path(resource_name)
      |
      = link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name)