#block-text.block
  .content
    %h2.title Audiencias Actuales por Celebridad
    .inner
      %table{:class => :table}
        %tr
          %th Celebridad
          %th Seguidores
          %th Seguidores 2nd Nivel
          %th Hombres
          %th Mamas
          %th Chicos
          %th Adolecentes Jovenes
          %th Adolecentes Maduros
          %th Adultos Jovenes
          %th Adultos Maduros
          %th Adultos
          %th Ancianos
          %th Deportes
          %th Politica
          %th
          %th
          %th

        - @audiences.each do |audience|
          %tr
            %td= link_to audience.twitter_username, influencer_path(audience.influencer_id)
            %td= audience.followers
            %td= audience.followers_followers
            %td= audience.males
            %td= audience.moms
            %td= audience.kids
            %td= audience.young_teens
            %td= audience.mature_teens
            %td= audience.young_adults
            %td= audience.mature_adults
            %td= audience.adults
            %td= audience.elderly
            %td= audience.sports
            %td= audience.politics
            %td= link_to 'Editar', edit_audience_path(audience)
            %td= link_to 'Eliminar', audience, :confirm => 'Esta seguro?', :method => :delete

      %br

      = link_to 'Nueva Audiencia', new_audience_path