.row
  = simple_form_for(@user, :url => advertiser_profiles_update_path, :html => { class: "form-horizontal round_form", method: :put }) do |f|
    %h1.form_title= t('profile')
    = render '/shared/simple_form_errors', :f => f
    
    .span4
      %h3 Datos del anunciante
      = f.input :email
      = f.simple_fields_for :advertiser do |a|
        = a.input :company
        = a.input :web
        = a.input :twitter_screen_name
        = a.input :first_name
        = a.input :last_name
        = a.input :position
        = a.input :brand
        = a.input :address
        = a.input :city
        = a.input :state
        = a.input :country
        = a.input :zip_code
        = a.input :phone

      .form-actions
        = f.submit t('save'), :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), advertiser_profiles_show_path, class: 'btn btn-large'
    .span4
      holaa