- content_for :head do
  = javascript_include_tag 'http://widgets.twimg.com/j/2/widget.js'
  = javascript_include_tag 'user_profile'

- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span9

    .profile_round_box
      .profile_resume_head
        %h1
          = @advertiser.company

      .profile_body
        .twitter_overview
          .overview_data.clearfix
            %h2
              - unless @advertiser.twitter_screen_name.blank?
                = link_to("@#{@advertiser.twitter_screen_name}", "https://twitter.com/#!/#{@advertiser.twitter_screen_name}")
              %span.edit_profile
                = link_to(t('edit_profile'), [:advertiser, :profiles, :edit], :class => 'btn btn-primary')
            - unless @advertiser.brand.blank?
              %strong= t('brand')
              = @advertiser.brand
            %p
              %strong= t('name')
              = @advertiser.full_name
            %p
              %strong= t('position')
              = @advertiser.position
          .twitter_photo
            - if @advertiser.photo.exists?
              = link_to(image_tag(@advertiser.photo.url(:profile)), '#user_photo', 'data-toggle' => 'modal')
            - else
              = link_to(image_tag('logo_empresas.jpg'), '#user_photo', 'data-toggle' => 'modal')

      .profile_data.clearfix
        .influencer_stats
          .box_container.clearfix
            .box
              .stat= t('web_site')
              .data= link_to(@advertiser.web, @advertiser.web.include?('http') ? @advertiser.web : "http://#{@advertiser.web}", target: '_blank')
              .stat= t('address')
              .data= @advertiser.address
              .stat= t('city')
              .data= @advertiser.city
              .stat= t('state')
              .data= @advertiser.state
              .stat= t('country')
              .data= @advertiser.country
              .stat= t('postal_code')
              .data= @advertiser.zip_code

            .box.last
              .stat= t('tweetgo_income')
              .data= @advertiser.user.created_at.strftime("%d/%m/%y")
              .stat= t('active_campaigns')
              .data= link_to(@advertiser.campaigns.created_and_active.count, [:advertiser, :campaigns])
              .stat= t('historical')
              .data= link_to(@advertiser.campaigns.archived.count, [:archived, :advertiser, :campaigns])
              .stat= t('referrals')
              .data= link_to(@advertiser.user.referrals.count, [:affiliate, :referrals])
              .stat= t('income')
              .data= link_to(number_to_currency(@advertiser.user.total_referral_earnings), [:affiliate, :referrals])


      #user_photo.modal.hide.fade
        = simple_form_for @advertiser, :url => advertiser_profiles_update_photo_path do |f|
          .modal-header
            %button.close{'data-dismiss' => 'modal'} x
            %h3= t('picture')
          .modal-body
            .clearfix
              .image
                - if @advertiser.photo.exists?
                  = image_tag(@advertiser.photo.url(:profile))
                - else
                  = image_tag('logo_empresas.jpg')
              .form
                = f.input :photo
          .modal-footer
            %a.btn.close_user_photo{:href => '#'}= t('close')
            = f.submit t('save'), :class => 'btn btn-primary'


  .span3
    .profile_round_box
      :javascript
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 4,
          interval: 30000,
          width: 250,
          height: 300,
          theme: {
            shell: {
              background: '#1F91D0',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#6b6b6b',
              links: '#2f8dcc'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('#{@advertiser.twitter_screen_name.blank? ? (APP_CONFIG['app_country']=='AR'? 'BorwinAR' : 'borwincolombia') : @advertiser.twitter_screen_name}').start();


/
  .row
    .span9
      .round_box
        aca van los tweets del sitio




