<%- content_for :head do %>
  <%= javascript_include_tag('home.js') %>
<%- end %>

<%= render '/shared/flash', flash: flash %>

<header class="advertisers">
  <div class="container">
   <div class="row">
    <div class="span4 center">
       <%= image_tag ("imagenes/prueba3.png"), :class => 'icon' %>
    </div>
    <div class="span6">
      <h2>¡Haz que tu cuenta de twitter trabaje para ti!</h2> 
      <p>
        Todos los días una gran cantidad de marcas y agencias acuden a Social Target en busca de influenciadores adecuados para sus campañas de marketing y publicidad en twitter.
      </p>
    </div>
   </div>
  </div>
</header>


<section class="info_page">
  <div class="container">
    <p>
      <h2>Es tu oportunidad</h2>
      
    </p>
  </div>

</section>



<!-- Three columns of text below the carousel -->
<div class="row"><!-- /.span4 --><!-- /.span4 --><!-- /.span4 -->
</div><!-- /.row -->


<div class="featurette">
  <a href="<%= home_advertisers_contact_path %>">Más información</a>
  <a href="<%= advertiser_devise_registration_path %>">- Regístrate</a>
</div>
