.row
  .span8

    = simple_form_for @site_advertiser_contact, :url => process_advertiser_contact_path, :html => {:class => 'form-vertical round_form'} do |f|
      .main_blue_title ¡Contáctese con nuestro equipo para comenzar!

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :company
      = f.input :email
      = f.input :campaign
      = f.input :objectives, input_html: { style: 'height: 80px' }
      = f.input :budget, as: :select, collection: ['< $10.000', '$10.000 - $25.000', '$25.000 - $50.000', '$50.000 - $100.000', '$100.000 - $500.000', '$500.000 - $1.000.000', '> $1.000.000'], include_blank: false
      = f.input :date

      %h2 Edades
      .age_section
        - ['Mamás', 'Adolescentes', 'Universitarios', 'Mujeres (18 a 35 años)', 'Hombres (18 a 35 años)', 'Mujeres (más de 35 años)', 'Hombres (más de 35 años)'].each do |age_option|
          %div
            = check_box_tag "site_advertiser_contact[demographic][]", age_option, f.object.demographic.include?(age_option)
            = label_tag age_option

      %h2 Hobbys
      .hobbys_section
        - ['Deportes', 'Moda', 'Música', 'Cine', 'Política', 'Tecnología', 'Viajes', 'Lujos'].each do |hobby|
          %div
            = check_box_tag "site_advertiser_contact[demographic][]", hobby, f.object.hobbies.include?(hobby)
            = label_tag hobby

      .form-actions
        = f.submit 'Enviar', :class => 'btn btn-primary btn-large'

      %p.address
        ARGENTINA, Buenos Aires, Marcelo T. de Alvear 474, CP 1001, Capital Federal. Tel: 5199-5750


  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => home_advertisers_about_path} Visión General
        %li.active
          %a{:href => home_advertisers_contact_path} Contáctenos
      %br
      .google_map
        .iphone_map
          .bg= image_tag('ipad.png')
          .map
            = '<iframe width="227" height="172" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Marcelo+T.+de+Alvear+464,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=39.592876,79.013672&amp;hnear=Marcelo+T.+de+Alvear+464,+Retiro,+Buenos+Aires,+Argentina&amp;t=v&amp;hq=&amp;z=15&amp;ll=-34.596225,-58.373861&amp;output=embed"></iframe>'.html_safe

      .borwin_twitter
        .center_text
          = '<a href="https://twitter.com/BorwinAR" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @BorwinAR</a>'.html_safe
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

