.row
  .span8.offset2


    = simple_form_for @site_contact, :url => process_contact_path, :html => {:class => 'form-horizontal round_form'} do |f|
      .form_title ¡Contáctese con nuestro equipo para comenzar!

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :email
      = f.input :subject
      = f.input :message, :as => :text, :input_html => {:rows => 5, :cols => 60 }
      .form-actions
        = f.submit 'Envíar', :class => 'btn btn-primary btn-large'
