<%- content_for :head do %>
  <%= javascript_include_tag('home.js') %>
<%- end %>

<%= render '/shared/flash', flash: flash %>

<!-- Three columns of text below the carousel -->

<header class="affiliates">
  <div class="container">
   <div class="row">
    <div class="span4 center">
       <%= image_tag ("imagenes/prueba2.png"), :class => 'icon' %>
    </div>
    <div class="span6">
      <h2>¿Representas a una marca?
¡Crée en el poder de la influencia y la interactividad!</h2> 
      <p>
        prepárate porque Social Target es la plataforma “Self-service” que te garantiza los resultados que esperas y te permite crear tu propia campaña de marketing o publicidad obteniendo recomendaciones de los influenciadores más relevantes en twitter.
      </p>
    </div>
   </div>
  </div>
</header>

<section class="info_page">
  <div class="container">
    <p>
      <h2>Cómo funciona</h2>
      <p>En el siguiente video te lo explicaremos.</p>
      <p>Crear tu propia campaña es realmente fácil y solo te quitará algunos minutos</p>
    </p>
  </div>

</section>



<div class="featurette">
  <a href="<%= contact_path %>">Más información</a>
  <a href="<%= affiliate_devise_registration_path %>">- Regístrate</a>
</div>

<hr class="featurette-divider">
