.row
  .span8

    = simple_form_for @site_contact, :url => process_contact_path, :html => {:class => 'form-horizontal round_form'} do |f|
      .main_blue_title= t('contact_us')

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :email
      = f.input :subject
      = f.input :message, :as => :text, :input_html => {:rows => 5, :cols => 60 }
      .form-actions
        = f.submit t('send'), :class => 'btn btn-primary btn-large'

      %p.address
        ARGENTINA, Buenos Aires, Marcelo T. de Alvear 474, CP 1001, Capital Federal. Tel: 5199-5750

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => about_us_path}= t('the_company')
        %li
          %a{:href => press_path}= t('press')
        %li
          %a{:href => work_with_us_path}= t('work_with_us')
        %li.active
          %a{:href => contact_path}= t('contact_us')
      %br
      .google_map
        .iphone_map.clearfix
          .bg= image_tag('ipad.png')
          .map
            = '<iframe width="227" height="172" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Marcelo+T.+de+Alvear+464,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=39.592876,79.013672&amp;hnear=Marcelo+T.+de+Alvear+464,+Retiro,+Buenos+Aires,+Argentina&amp;t=v&amp;hq=&amp;z=15&amp;ll=-34.596225,-58.373861&amp;output=embed"></iframe>'.html_safe

      .borwin_twitter
        .center_text
          = '<a href="https://twitter.com/BorwinAR" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @BorwinAR</a>'.html_safe
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



