.row
  .span8


    = simple_form_for @site_contact, :url => process_contact_path, :html => {:class => 'form-horizontal round_form'} do |f|
      .form_title Contáctenos

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :email
      = f.input :subject
      = f.input :message, :as => :text, :input_html => {:rows => 5, :cols => 60 }
      .form-actions
        = f.submit 'Envíar', :class => 'btn btn-primary btn-large'

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => about_us_path} La Empresa
        %li
          %a{:href => press_path} Prensa
        %li
          %a{:href => work_with_us_path} Trabajá con Nosotros
        %li.active
          %a{:href => contact_path} Contáctenos

