.row
  .span8

    = simple_form_for @site_contact, :url => process_contact_path, :html => {:class => 'form-horizontal round_form'} do |f|
      .main_blue_title Contáctenos

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :email
      = f.input :subject
      = f.input :message, :as => :text, :input_html => {:rows => 5, :cols => 60 }
      .form-actions
        = f.submit 'Enviar', :class => 'btn btn-primary btn-large'

      %p.address
        Marcelo T. de Alvear 474, CP 1001, Capital Federal, Buenos Aires, Argentina.


  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => about_us_path} La Empresa
        %li
          %a{:href => press_path} Prensa
        %li
          %a{:href => work_with_us_path} Trabajá con Nosotros
        %li.active
          %a{:href => contact_path} Contáctenos
      %br
      .google_map
        .iphone_map.clearfix
          .bg= image_tag('ipad.png')
          .map
            = '<iframe width="227" height="172" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Marcelo+T.+de+Alvear+464,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=39.592876,79.013672&amp;hnear=Marcelo+T.+de+Alvear+464,+Retiro,+Buenos+Aires,+Argentina&amp;t=v&amp;hq=&amp;z=15&amp;ll=-34.596225,-58.373861&amp;output=embed"></iframe>'.html_safe

      .borwin_twitter
        .center_text
          = '<a href="https://twitter.com/BorwinAR" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir en @BorwinAR</a>'.html_safe



