- content_for :head do
  = javascript_include_tag('home.js')
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Basic'

= render '/shared/flash', flash: flash

#home_carousel.carousel
  .carousel-inner
    .active.item
      .slide1
        .title
          CONECTAMOS TU MARCA
          %br
          CON TU TARGET A TRAVÉS
          %br
          DEL TWITTER DE LAS
          %br
          CELEBRIDADES
        .subtitle.blue
          IT'S TIME TO GO SOCIAL!
        .button
          = link_to("Más información", "#", :class => 'btn btn-primary btn-large')
    .item
      .slide2
        .title
          = 'TWEET<span class="blue">GO!</span> ENCUENTRA'.html_safe
          %br
          DÓNDE ESTÁ EL PÚBLICO
          %br
          AL QUE TU MARCA QUIERE
          %br
          LLEGAR
        .subtitle
          ¿QUERÉS LLEGAR A DOS MILLONES DE JÓVENES FANÁTICOS DEL DEPORTE?
          %br
          ¿CONECTARTE CON MÁS DE 1 MILLÓN DE ADOLESCENTES QUE VIVAN EN
          %br
          BUENOS AIRES?
        .button
          = link_to("Más información", "#", :class => 'btn btn-primary btn-large')
    .item
      .slide3
        .title
          CONTAMOS CON CIENTOS DE
          %br
          CELEBRIDADES QUE
          %br
          RECOMIENDAN TU MARCA A
          %br
          SUS SEGUIDORES EN TWITTER
        .subtitle
          REALIZA CAMPAÑAS DE MARKETING EFECTIVAS,
          %br
          SIMPLES Y MEDIBLES.
        .button
          = link_to("Más información", "#", :class => 'btn btn-primary btn-large')
    .item
      .slide4
        .title
          MONITOREO EN
          %br
          TIEMPO REAL
        .subtitle
          TE PERMITIMOS VER A TRAVÉS DE NUESTRA
          %br
          PLATAFORMA COMO SE ESTÁ DESARROLLANDO
          %br
          TU CAMPAÑA DE MARKETING EN TIEMPO REAL.
          %br
          PODRÁS VER LA CANTIDAD DE MENCIONES,
          %br
          CLICKS, RETWEETS,
          %br
          CPC Y MUCHOS
          %br
          DATOS MÁS.
        .button
          = link_to("Más información", "#", :class => 'btn btn-primary btn-large')
  %a.carousel-control.left{:href => '#home_carousel', 'data-slide' => 'prev'} &lsaquo;
  %a.carousel-control.right{:href => '#home_carousel', 'data-slide' => 'next'} &rsaquo;


