- content_for :head do
  = javascript_include_tag('home.js')
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Basic'

= render '/shared/flash', flash: flash

#home_carousel.carousel
  .carousel-inner
    .active.item
      .slide1
        .title
          =t('home_index_slide_1_1')
          %br
          =t('home_index_slide_1_2')
          %br
          =t('home_index_slide_1_3')
          %br
          =t('home_index_slide_1_4')
        .subtitle.blue
          =t('home_index_slide_1_5')
        .button
          = link_to(t('more_info'), contact_path, :class => 'btn btn-primary btn-large')
    .item
      .slide2
        .title
          = 'TWEET<span class="blue">GO!</span> ENCUENTRA'.html_safe
          %br
          =t('home_index_slide_2_1')
          %br
          =t('home_index_slide_2_2')
          %br
          =t('home_index_slide_2_3')
        .subtitle
          =t('home_index_slide_2_4')
          %br
          =t('home_index_slide_2_5')
          %br
          =t('home_index_slide_2_6')
        .button
          = link_to(t('more_info'), contact_path, :class => 'btn btn-primary btn-large')
    .item
      .slide3
        .title
          =t('home_index_slide_3_1')
          %br
          =t('home_index_slide_3_2')
          %br
          =t('home_index_slide_3_3')
          %br
          =t('home_index_slide_3_4')
        .subtitle
          =t('home_index_slide_3_5')
          %br
          =t('home_index_slide_3_6')
        .button
          = link_to(t('more_info'), contact_path, :class => 'btn btn-primary btn-large')
    .item
      .slide4
        .title
          =t('home_index_slide_4_1')
          %br
          =t('home_index_slide_4_2')
        .subtitle
          =t('home_index_slide_4_3')
          %br
          =t('home_index_slide_4_4')
          %br
          =t('home_index_slide_4_5')
          %br
          =t('home_index_slide_4_6')
          %br
          =t('home_index_slide_4_7')
          %br
          =t('home_index_slide_4_8')
          %br
          =t('home_index_slide_4_9')
        .button
          = link_to(t('more_info'), contact_path, :class => 'btn btn-primary btn-large')
    .item
      .slide5
        .title
          =t('home_index_slide_5_1')
          %br
          =t('home_index_slide_5_2')
          %br
          =t('home_index_slide_5_3')
        .subtitle
          =t('home_index_slide_5_4')
          %br
          =t('home_index_slide_5_5')
          %br
          =t('home_index_slide_5_6')
          %br
          =t('home_index_slide_5_7')
        .button
          = link_to(t('more_info'), contact_path, :class => 'btn btn-primary btn-large')
  %a.carousel-control.left{:href => '#home_carousel', 'data-slide' => 'prev'} &lsaquo;
  %a.carousel-control.right{:href => '#home_carousel', 'data-slide' => 'next'} &rsaquo;


#carousel-nav
  %a{:href => '#home_carousel', 'data-to' => 1, :class => 'active'} 1
  %a{:href => '#home_carousel', 'data-to' => 2} 2
  %a{:href => '#home_carousel', 'data-to' => 3} 3
  %a{:href => '#home_carousel', 'data-to' => 4} 4
  %a{:href => '#home_carousel', 'data-to' => 5} 5


:javascript
  var currentPage = 0;
  var pages = $("#carousel-nav a");
  var pagesCount = pages.length;

  $('#carousel-nav a').click(function(q){
    q.preventDefault();
    //targetSlide = $(this).attr('data-to')-1;
    //$('#home_carousel').carousel(targetSlide);
    //$(this).addClass('active').siblings().removeClass('active');
    clickedPage = $(this).attr('data-to')-1;
    currentPage = clickedPage-1;
    $('#home_carousel').carousel(clickedPage);
  });
  $('#home_carousel').on('slide', function(e) {
    $(pages).removeClass("active");
    currentPage++;
    currentPage=(currentPage%pagesCount);
    $(pages[currentPage]).addClass("active");
  });





