.row
  .span8.offset2


    = simple_form_for @site_contact, :url => process_contact_path, :html => {:class => 'form-horizontal round_form'} do |f|
      .form_title ¡Contáctate con Borwin!

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :email
      = f.input :subject
      = f.input :message, :as => :text, :input_html => {:rows => 5, :cols => 60 }
      .form-actions
        = f.submit 'Envíar', :class => 'btn btn-primary btn-large'

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => home_influencers_about_path} Visión General
        %li.active
          %a{:href => home_influencers_contact_path} Contáctenos

