<%- content_for :head do %>
  <%= javascript_include_tag('home.js') %>
<%- end %>

<%= render '/shared/flash', flash: flash %>

<!-- Three columns of text below the carousel -->
<header class="influencer">
  <div class="container">
   <div class="row">
    <div class="span4 center">
       <%= image_tag ("imagenes/prueba.png"), :class => 'icon' %>
    </div>
    <div class="span6">
      <h2>¡Haz que tu cuenta de twitter trabaje para ti!</h2> 
      <p>
        Todos los días una gran cantidad de marcas y agencias acuden a Social Target en busca de influenciadores adecuados para sus campañas de marketing y publicidad en twitter.
      </p>
    </div>
   </div>
  </div>
</header>

<section class="info_page">
  <div class="container">
    <p>
      <h2>Es tu oportunidad</h2>
      Regístrate ahora y comienza a recibir ofertas atractivas de anunciantes que te pagarán muy bien por tus recomendaciones y por todo tu poder influenciador en twitter. <br>

      Nuestra plataforma ya está siendo utilizada por miles de influenciadores de todo el mundo para ganar dinero a través de sus cuentas de twitter. Si tienes más de 1.000 seguidores no esperes más y regístrate ahora, comienza a ganar dinero con tu cuenta de twitter.
    </p>
  </div>

</section>

<div class="container center">
  <div class="row">
    <div class="span4">
      <%= image_tag("imagenes/slider/1.png")%>
      <p>Regístrate como influenciador aquí</p>
      <%=link_to 'Registrate' ,influencer_devise_registration_path , :class => "btn btn-large btn-primary" %>
    </div>
    <div class="span4">
      <%= image_tag("imagenes/slider/2.png")%>
      <p>
         Nuestra plataforma creará automáticamente tu perfil, analizará tu nivel de influencia e interactividad y te dará una recomendación para el precio de tus tweets. También puedes definir tu propio precio aunque no es recomendable.
      </p>
    </div>
    <div class="span4">
      <%= image_tag("imagenes/slider/3.png")%>
      <p>
        Comienza a recibir ofertas de las marcas que quieren trabajar contigo para que las recomiendes en twitter.  Puedes aceptar, modificar o rechazar las propuestas.
      </p>
    </div>
  </div>

</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->