.row
  .span8
    .frontend_round_content

      .title
        =t('influencers_about_title')

      %p
        =t('influencers_about_text_1')

      %p
        =t('influencers_about_text_2')
      %ol
        %li =t('influencers_about_text_3')
        %li =t('influencers_about_text_4')
        %li =t('influencers_about_text_5')

      %p
        = link_to(t('register_now_to_tweetgo'), influencer_devise_registration_path)

      %p
        = link_to(t('more_info'), home_influencers_contact_path)
      %br

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li.active
          %a{:href => home_influencers_about_path}= t('general_vision')
        %li
          %a{:href => home_influencers_contact_path}= t('contact_us')

      .presentation_link
        = link_to(image_tag('presentacion_celebridades.png'), home_influencers_presentation_path)
        .center_text
          = link_to("Ver Presentación", home_influencers_presentation_path)

      .borwin_twitter
        .center_text
          = '<a href="https://twitter.com/BorwinAR" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @BorwinAR</a>'.html_safe
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


