.row
  .span8.offset2


    = simple_form_for @site_contact, :url => process_contact_path, :html => {:class => 'form-horizontal round_form'} do |f|
      .form_title ¡Contáctate con Borwin!

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :email
      = f.input :subject
      = f.input :message, :as => :text, :input_html => {:rows => 5, :cols => 60 }
      .form-actions
        = f.submit 'Envíar', :class => 'btn btn-primary btn-large'

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => home_influencers_about_path} Visión General
        %li.active
          %a{:href => home_influencers_contact_path} Contáctenos
      %br
      .google_map
        .iphone_map
          .bg= image_tag('iphone.png')
          .map
            = '<iframe width="150" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Marcelo+T.+de+Alvear+464,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=39.592876,79.013672&amp;hnear=Marcelo+T.+de+Alvear+464,+Retiro,+Buenos+Aires,+Argentina&amp;t=v&amp;hq=&amp;z=14&amp;ll=-34.596225,-58.373861&amp;output=embed"></iframe>'.html_safe


