.row
  .span8.offset2
    .frontend_round_content

      %h3 Media Downloads


      = link_to(image_tag('press/iconosprensalogo.png'), '#')
      = link_to(image_tag('press/iconosprensatweet.png'), '#')
      = link_to(image_tag('press/iconosprensawall.png'), '#')
      = link_to(image_tag('press/iconosprensawall2.png'), '#')
      = link_to(image_tag('press/iconosprensawall3.png'), '#')


