.row
  .span8
    .frontend_round_content.press_page.clearfix

      .title= t('press')

      %p
        =t('press_text_1')
        =t('press_text_2')
        =t('press_text_3')

      .subtitle= t('logos')

      %div.clearfix
        .media= link_to(image_tag('press/iconosprensalogo.png'), image_path('press/prensalogo.jpg'))
        .media= link_to(image_tag('press/iconosprensatweet.png'), image_path('press/prensatweet.png'))
        .media= link_to(image_tag('press/iconosprensabsola.png'), image_path('press/prensalogoB.png'))

      .subtitle= t('wallpapers')

      %div.clearfix
        .media= link_to(image_tag('press/iconosprensawall.png'), image_path('press/prensawall.jpg'))
        .media= link_to(image_tag('press/iconosprensawall2.png'), image_path('press/prensawall2.jpg'))
        .media= link_to(image_tag('press/iconosprensawall3.png'), image_path('press/prensawall3.jpg'))

      %br
      %p
        = t('press_text_4')
        = link_to("sebastian@social-taget.net", "mailto: sebastian@social-taget.net")

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => about_us_path}= t('the_company')
        %li.active
          %a{:href => press_path}= t('press')
        %li
          %a{:href => work_with_us_path}= t('work_with_us')
        %li
          %a{:href => contact_path}= t('contact_us')

      .borwin_twitter
        .center_text
          = borwin_twitter_link().html_safe
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

