.row
  .span8
    .frontend_round_content

      %div.center_text
        = image_tag('logo_sorte_argo.jpg', :style => 'margin: 0 auto')

      %br
      %br
      %br

      %div.center_text
        %p
          = t('sorteargo_text_1')

      %br
      %br

      %div.center_text
        %p
          = t('queries')
          = link_to("sebastian@socialtarget.net", "mailto: sebastian@socialtarget.net")

      %br

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => about_tweet_go_path} TweetGo!
        %li.active
          %a{:href => about_sorte_argo_path} SorteARGO!
        %li
          %a{:href => about_stats_go_path} StatsGO!
        %li
          %a{:href => new_user_registration_path} Registrarse
        %li
          %a{:href => new_user_session_path} Iniciar Sesión

      .borwin_twitter
        .center_text
          = borwin_twitter_link().html_safe
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

