.row
  .span8
    .frontend_round_content

      .title= t('work_with_us')

      %h4 Desarrollador ruby
      %p
        Buscamos un desarrollador con experiencia y ganas de crecer profesionalmente.
      %br

      %h4 Marketing
      %p
        Buscamos un estudiante de la carrera de  Marketing con ganas de aprender y desarrollarse en Marketing en Redes Sociales.
      %br

      %h4 Administración
      %p
        Buscamos un Licenciado en Administración de Empresas preferentemente con experiencia en las áreas de marketing y ventas.

      %br
      %br
      %p
        = t('send_us_your_resume')
        = link_to("rrhh@borwin.net", "mailto: rrhh@borwin.net")
        indicando en el título el puesto requerido.

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => about_us_path}= t('the_company')
        %li
          %a{:href => press_path}= t('press')
        %li.active
          %a{:href => work_with_us_path}= t('work_with_us')
        %li
          %a{:href => contact_path}= t('contact_us')

      .borwin_twitter
        .center_text
          = borwin_twitter_link().html_safe
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

