.row-fluid.show-grid
  .span2 &nbsp;
  .span8
    %h1 Contactenos

    = simple_form_for @site_contact, :url => process_contact_path, :html => {:class => 'form-horizontal'} do |f|

      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :email
      = f.input :subject
      = f.input :message
      .form-actions
        = f.submit
