- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

- params[:page] ||= 1
- row_number = (params[:page].to_i - 1) * 25

.row
  .span12
    .round_box
      .content
        .right
          = link_to( t('create_advertiser'), [:new, :admin, :advertiser], :class => 'btn btn-primary')
        %h1.title= t('advertisers')

        %table.table.table-striped
          %thead
            %tr
              %th &nbsp;
              %th= sort_link(@search, :first_name_and_last_name, 'Nombre')
              %th= sort_link(@search, :company, 'Agencia')
              %th= sort_link(@search, :user_email, 'Email')
              %th= sort_link(@search, :created_at, "Creado")
              %th= sort_link(@search, :can_create_campaign, "Crear Campañas?")
              %th Acciones

          %tbody
            - @advertisers.each do |advertiser|
              %tr{ :class => cycle('odd', 'even') }
                %td= row_number = row_number + 1
                %td= link_to(advertiser.full_name, [:admin, advertiser])
                %td= advertiser.company
                %td= advertiser.user.email
                %td= advertiser.created_at ? (localize(advertiser.created_at, :format => "%d/%m/%Y")) : ""
                %td= advertiser.can_create_campaigns? ? t('yes') : t('no')
                %td
                  = link_to(t('edit'), [:edit, :admin, advertiser], class: 'btn btn-primary')
                  = link_to(t('destroy'), [:admin, advertiser], method: :delete, class: 'btn btn-danger', confirm: t('are_you_sure') )
        .center_text
          = paginate @advertisers

        .filters
          .subtitle= t('filters')
          = simple_form_for @search, :url => [:admin, :advertisers], html: {method: :get, id: 'filter_form', class: 'form-horizontal'} do |f|
            = f.input :first_name_or_last_name_contains, label: t('name'), required: false
            = f.input :company_contains, label: t('company'), required: false
            = f.input :user_email_equals, label: t('email'), required: false
            = f.input :can_create_campaigns_equals, label: t('can_create_campaigns'), required: false, as: :select, collection: [[t('no'), false], [t('yes'), true]]
            .form-actions
              = f.submit t('filter'), :class => 'btn btn-primary'
              = link_to t('reset'), '#', :class => 'btn reset'


