.row
  .span6.offset3.round_box
    = simple_form_for(@payment, url: [:admin, @payment], html:  { class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title= t('payment')
      = render '/shared/simple_form_errors', :f => f

      = f.input :status, as: :select, collection: ['Acreditado','Cancelado','En disputa', 'Pendiente de Acreditación', 'Pago Pendiente', 'Pago Reintegrado', 'Pago Rechazado', 'Proceso Abandonado']

      .form-actions
        = f.submit t('save'), :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), [:admin, :payments], class: 'btn btn-large'