- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title= t('payment')
        %dl.record_details
          %dt= t('creation_date')
          %dd= localize(@payment.created_at, :format => "%d/%m/%Y %H:%M:%S")
          %dt= t('update_date')
          %dd= localize(@payment.updated_at, :format => "%d/%m/%Y %H:%M:%S")
          %dt= t('amount')
          %dd= sprintf("%.02f", @payment.amount)
          %dt= t('status')
          %dd= @payment.status
      .clear.center_text.show_buttons
        = link_to(t('list'), [:admin, :payments], class: 'btn btn-primary')

