- content_for :head do
  = javascript_include_tag 'advertiser/audience'

.row
  .span8.offset2
    %ul.breadcrumb
      %li
        = link_to( t('campaigns'), [:admin, :campaigns])
        %span.divider /
      %li.active
        - if @campaign.created_at > Time.now - 1.minute
          =t('new_campaign')
        - else
          =t('audience')

.row
  .span8.offset2.round_box
    = form_for(@campaign, url: [:set_audience, :admin, @campaign], html:  { id: "audience_campaign_form", class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title= t('target')
      - if @campaign.created_at > Time.now - 1.minute
        .center_text{style: 'margin: -20px 0 20px 0;'}
          &nbsp;
      = render '/shared/form_errors', :object => f.object

      %h2= t('geo_zone')
      .geographic_zones
        .geographic_zone.argentine
          = check_box_tag "campaign[locations][]", "Argentina", f.object.locations.include?("Argentina")
          = label_tag "Argentina"
        .geographic_zone.argentine-provinces
          - ["Buenos Aires",  "Catamarca",  "Chaco", "Córdoba", "Corrientes", "Entre Ríos", "Formosa", "Jujuy", "La Pampa", "La Rioja", "Mendoza", "Misiones", "Neuquén", "Rio Negro", "Salta", "San Juan", "San Luis", "Santa Cruz", "Santa Fe", "Sgo. del Estero", "Tierra del Fuego", "Tucumán"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.colombian
          = check_box_tag "campaign[locations][]", "Colombia", f.object.locations.include?("Colombia")
          = label_tag "Colombia"
        .geographic_zone.colombian-provinces
          - ["Amazonas", "Antioquia", "Arauca", "Atlántico", "Bolívar", "Boyacá", "Caldas", "Caquetá", "Casanare", "Cauca", "Cesar", "Chocó", "Córdoba", "Cundinamarca", "Guainía", "Guaviare", "Huila", "La Guajira", "Magdalena", "Meta", "Nariño", "Norte de Santander", "Putumayo", "Quindío", "Risaralda", "San Andrés y Providencia", "Santander", "Sucre", "Tolima", "Valle del Cauca", "Vaupés", "Vichada", "Colombia"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.chilean
          = check_box_tag "campaign[locations][]", "Chile", f.object.locations.include?("Chile")
          = label_tag "Chile"
        .geographic_zone.chilean-provinces
          - ["Arica y Parinacota", "Tarapacá", "Antofagasta", "Atacama", "Coquimbo", "Valparaíso", "Santiago", "O'Higgins", "Maule", "Biobío", "La Araucanía", "Los Ríos", "Los Lagos", "Aysén", "Magallanes"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.ecuador
          = check_box_tag "campaign[locations][]", "Ecuador", f.object.locations.include?("Ecuador")
          = label_tag "Ecuador"
        .geographic_zone.ecuador-provinces
          - ["Azuay", "Bolívar", "Cañar", "Carchi", "Chimborazo", "Cotopaxi", "El Oro", "Esmeraldas", "Galápagos", "Guayas", "Imbabura", "Loja", "Los Ríos", "Manabí", "Morona Santiago", "Napo", "Orellana", "Pastaza", "Pichincha", "Santa Elena", "Santo Domingo de los Tsáchilas", "Sucumbíos", "Tungurahua", "Zamora Chinchipe"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.mexican
          = check_box_tag "campaign[locations][]", "Mexico", f.object.locations.include?("Mexico")
          = label_tag "Mexico"
        .geographic_zone.mexican-provinces
          - ["Aguascalientes","Baja California", "Baja California Sur", "Campeche", "Chiapas", "Chihuahua", "Coahuila de Zaragoza", "Colima", "Distrito Federal", "Durango", "Guanajuato", "Guerrero", "Hidalgo", "Jalisco", "México", "Michoacán de Ocampo", "Morelos", "Nayarit", "Nuevo León", "Oaxaca", "Puebla", "Querétaro", "Quintana Roo", "San Luis Potosí", "Sinaloa", "Sonora", "Tabasco", "Tamaulipas", "Tlaxcala", "Veracruz de Ignacio de la Llave", "Yucatán", "Zacatecas"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.paraguay
          = check_box_tag "campaign[locations][]", "Paraguay", f.object.locations.include?("Paraguay")
          = label_tag "Paraguay"
        .geographic_zone.paraguay-provinces
          - ["Asunción", "Concepción", "San Pedro", "Cordillera", "Guairá", "Caaguazú", "Caazapá", "Itapúa", "Misiones", "Paraguarí", "Alto Paraná", "Central", "Ñeembucú", "Amambay", "Canindeyú", "Presidente Hayes", "Alto Paraguay", "Boquerón"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.uruguay
          = check_box_tag "campaign[locations][]", "Uruguay", f.object.locations.include?("Uruguay")
          = label_tag "Uruguay"
        .geographic_zone.uruguay-provinces
          - ["Artigas", "Canelones", "Cerro Largo", "Colonia", "Durazno", "Flores", "Florida", "Lavalleja", "Maldonado", "Montevideo", "Paysandú", "Río Negro", "Rivera", "Rocha", "Salto", "San José", "Soriano", "Tacuarembó", "Treinta y Tres"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.any
          = check_box_tag "campaign[locations][]", "Cualquiera", f.object.locations.include?("Cualquiera")
          = label_tag t('any')

      %h2= t('ages')
      .option
        = f.check_box :moms
        = f.label :moms, t('moms')
      .option
        = f.check_box :teens
        = f.label :teens, t('teens')
      .option
        = f.check_box :college_students
        = f.label :college_students, t('college_students')
      .option
        = f.check_box :young_women
        = f.label :young_women, t('young_women')
      .option
        = f.check_box :young_men
        = f.label :young_men, t('young_men')
      .option
        = f.check_box :adult_women
        = f.label :adult_women, t('adult_women')
      .option
        = f.check_box :adult_men
        = f.label :adult_men, t('adult_men')

      %h2= t('genre')

      .option
        = f.check_box :males
        = f.label :males, t('males')

      .option
        = f.check_box :females
        = f.label :females, t('women')

      %h2= t('hobbys')
      .option
        = f.check_box :sports
        = f.label :sports, t('sports')
      .option
        = f.check_box :fashion
        = f.label :fashion, t('fashion')
      .option
        = f.check_box :music
        = f.label :music, t('music')
      .option
        = f.check_box :movies
        = f.label :movies, t('movies')
      .option
        = f.check_box :politics
        = f.label :politics, t('politics')
      .option
        = f.check_box :technology
        = f.label :technology, t('technology')
      .option
        = f.check_box :travel
        = f.label :travel, t('travel')
      .option
        = f.check_box :luxury
        = f.label :luxury, t('luxury')

      %h2= t('followers')
      .option
        = check_box_tag "campaign[followers_qty][]", "0-500", f.object.followers_qty.include?("0-500")
        = label_tag "0 a 500"
      .option
        = check_box_tag "campaign[followers_qty][]", "500-2000", f.object.followers_qty.include?("500-2000")
        = label_tag "500 a 2.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "2000-10000", f.object.followers_qty.include?("2000-10000")
        = label_tag "2.000 a 10.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "10000-100000", f.object.followers_qty.include?("10000-100000")
        = label_tag "10.000 a 100.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "100000-300000", f.object.followers_qty.include?("100000-300000")
        = label_tag "100.000 a 300.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "300000-600000", f.object.followers_qty.include?("300000-600000")
        = label_tag "300.000 a 600.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "600000-900000", f.object.followers_qty.include?("600000-900000")
        = label_tag "600.000 a 900.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "900000-2000000", f.object.followers_qty.include?("900000-2000000")
        = label_tag "900.000 a 2.000.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "2000000-50000000", f.object.followers_qty.include?("2000000-50000000")
        = label_tag "2.000.000 a 50.000.000"

      %h2= t('tweet_price')
      - case APP_CONFIG['app_country']
        -when 'AR'
          .option
            = check_box_tag "campaign[tweet_price][]", "0-300", f.object.tweet_price.include?("0-300")
            = label_tag "$0 a $300"
          .option
            = check_box_tag "campaign[tweet_price][]", "300-1000", f.object.tweet_price.include?("300-1000")
            = label_tag "$300 a $1.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "1000-2000", f.object.tweet_price.include?("1000-2000")
            = label_tag "$1.000 a $2.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "2000-3000", f.object.tweet_price.include?("2000-3000")
            = label_tag "$2.000 a $3.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "3000-5000", f.object.tweet_price.include?("3000-5000")
            = label_tag "$3.000 a $5.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "5000-7000", f.object.tweet_price.include?("5000-7000")
            = label_tag "$5.000 a $7.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "7000-10000", f.object.tweet_price.include?("7000-10000")
            = label_tag "$7.000 a $10.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "10000-20000", f.object.tweet_price.include?("10000-20000")
            = label_tag "$10.000 a $20.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "20000-50000", f.object.tweet_price.include?("20000-50000")
            = label_tag "$20.000 a $50.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "+50000", f.object.tweet_price.include?("+50000")
            = label_tag "Mayor a $50.000"
        -when 'CO'
          .option
            = check_box_tag "campaign[tweet_price][]", "0-150000", f.object.tweet_price.include?("0-150000")
            = label_tag "$0 a $150.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "150000-500000", f.object.tweet_price.include?("150000-500000")
            = label_tag "$150.000 a $500.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "500000-1000000", f.object.tweet_price.include?("500000-1000000")
            = label_tag "$500.000 a $1.000.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "1000000-1500000", f.object.tweet_price.include?("1000000-1500000")
            = label_tag "$1.000.000 a $1.500.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "1500000-2500000", f.object.tweet_price.include?("1500000-2500000")
            = label_tag "$1.500.000 a $2.500.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "2500000-3500000", f.object.tweet_price.include?("2500000-3500000")
            = label_tag "$2.500.000 a $3.500.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "3500000-5000000", f.object.tweet_price.include?("3500000-5000000")
            = label_tag "$3.500.000 a $5.000.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "5000000-10000000", f.object.tweet_price.include?("5000000-10000000")
            = label_tag "$5.000.000 a $10.000.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "10000000-25000000", f.object.tweet_price.include?("10000000-25000000")
            = label_tag "$10.000.000 a $25.000.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "+25000000", f.object.tweet_price.include?("+25000000")
            = label_tag "Mayor a $25.000.000"
        -when 'MX'
          .option
            = check_box_tag "campaign[tweet_price][]", "0-750", f.object.tweet_price.include?("0-750")
            = label_tag "$0 a $750"
          .option
            = check_box_tag "campaign[tweet_price][]", "750-2500", f.object.tweet_price.include?("750-2500")
            = label_tag "$750 a $2.500"
          .option
            = check_box_tag "campaign[tweet_price][]", "2500-5000", f.object.tweet_price.include?("2500-5000")
            = label_tag "$2.500 a $5.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "5000-7500", f.object.tweet_price.include?("5000-7500")
            = label_tag "$5.000 a $7.500"
          .option
            = check_box_tag "campaign[tweet_price][]", "7500-12500", f.object.tweet_price.include?("7500-12500")
            = label_tag "$7.500 a $12.500"
          .option
            = check_box_tag "campaign[tweet_price][]", "12500-17500", f.object.tweet_price.include?("12500-17500")
            = label_tag "$12.500 a $17.500"
          .option
            = check_box_tag "campaign[tweet_price][]", "17500-25000", f.object.tweet_price.include?("17500-25000")
            = label_tag "$17.500 a $25.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "25000-50000", f.object.tweet_price.include?("25000-50000")
            = label_tag "$25.000 a $50.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "50000-125000", f.object.tweet_price.include?("50000-125000")
            = label_tag "$50.000 a $125.000"
          .option
            = check_box_tag "campaign[tweet_price][]", "+125000", f.object.tweet_price.include?("+125000")
            = label_tag "Mayor a $125.000"



      .form-actions
        = f.submit t('accept'), :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), [:admin, :campaigns], class: 'btn btn-large'

