- content_for :head do
  = javascript_include_tag 'advertiser/audience'

.row
  .span8.offset2
    %ul.breadcrumb
      %li
        = link_to( t('campaigns'), [:admin, :campaigns])
        %span.divider /
      %li.active
        - if @campaign.created_at > Time.now - 1.minute
          =t('new_campaign')
        - else
          =t('audience')

.row
  .span8.offset2.round_box
    = form_for(@campaign, url: [:set_audience, :admin, @campaign], html:  { id: "audience_campaign_form", class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title= t('target')
      - if @campaign.created_at > Time.now - 1.minute
        .center_text{style: 'margin: -20px 0 20px 0;'}
          &nbsp;
      = render '/shared/form_errors', :object => f.object

      %h2= t('geo_zone')
      .geographic_zones
        .geographic_zone.argentine
          = check_box_tag "campaign[locations][]", "Argentina", f.object.locations.include?("Argentina")
          = label_tag "Argentina"
        .geographic_zone.provinces
          - ["Buenos Aires",  "Catamarca",  "Chaco", "Córdoba", "Corrientes", "Entre Ríos", "Formosa", "Jujuy", "La Pampa", "La Rioja", "Mendoza", "Misiones", "Neuquén", "Rio Negro", "Salta", "San Juan", "San Luis", "Santa Cruz", "Santa Fe", "Sgo. del Estero", "Tierra del Fuego", "Tucumán"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?("province")
              = label_tag province, province, style: 'margin-right: 8px'
        - ["Colombia", "Chile", "Ecuador", "Paraguay", "Uruguay"].each do |country|
          .geographic_zone
            = check_box_tag "campaign[locations][]", country, f.object.locations.include?("country")
            = label_tag country

      %h2= t('ages')
      .option
        = f.check_box :moms
        = f.label :moms, t('moms')
      .option
        = f.check_box :teens
        = f.label :teens, t('teens')
      .option
        = f.check_box :college_students
        = f.label :college_students, t('college_students')
      .option
        = f.check_box :young_women
        = f.label :young_women, t('young_women')
      .option
        = f.check_box :young_men
        = f.label :young_men, t('young_men')
      .option
        = f.check_box :adult_women
        = f.label :adult_women, t('adult_women')
      .option
        = f.check_box :adult_men
        = f.label :adult_men, t('adult_men')

      %h2= t('genre')

      .option
        = f.check_box :males
        = f.label :males, t('males')

      .option
        = f.check_box :females
        = f.label :females, t('women')

      %h2= t('hobbys')
      .option
        = f.check_box :sports
        = f.label :sports, t('sports')
      .option
        = f.check_box :fashion
        = f.label :fashion, t('fashion')
      .option
        = f.check_box :music
        = f.label :music, t('music')
      .option
        = f.check_box :movies
        = f.label :movies, t('movies')
      .option
        = f.check_box :politics
        = f.label :politics, t('politics')
      .option
        = f.check_box :technology
        = f.label :technology, t('technology')
      .option
        = f.check_box :travel
        = f.label :travel, t('travel')
      .option
        = f.check_box :luxury
        = f.label :luxury, t('luxury')

      %h2= t('followers')
      .option
        = check_box_tag "campaign[followers_qty][]", "0-500", f.object.followers_qty.include?("0-500")
        = label_tag "0 a 500"
      .option
        = check_box_tag "campaign[followers_qty][]", "500-2000", f.object.followers_qty.include?("500-2000")
        = label_tag "500 a 2.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "2000-10000", f.object.followers_qty.include?("2000-10000")
        = label_tag "2.000 a 10.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "10000-100000", f.object.followers_qty.include?("10000-100000")
        = label_tag "10.000 a 100.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "100000-300000", f.object.followers_qty.include?("100000-300000")
        = label_tag "100.000 a 300.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "300000-600000", f.object.followers_qty.include?("300000-600000")
        = label_tag "300.000 a 600.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "600000-900000", f.object.followers_qty.include?("600000-900000")
        = label_tag "600.000 a 900.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "900000-2000000", f.object.followers_qty.include?("900000-2000000")
        = label_tag "900.000 a 2.000.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "2000000-50000000", f.object.followers_qty.include?("2000000-50000000")
        = label_tag "2.000.000 a 50.000.000"

      %h2= t('tweet_price')
      .option
        = check_box_tag "campaign[tweet_price][]", "0-300", f.object.tweet_price.include?("0-300")
        = label_tag "$0 a $300"
      .option
        = check_box_tag "campaign[tweet_price][]", "300-1000", f.object.tweet_price.include?("300-1000")
        = label_tag "$300 a $1.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "1000-2000", f.object.tweet_price.include?("1000-2000")
        = label_tag "$1.000 a $2.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "2000-3000", f.object.tweet_price.include?("2000-3000")
        = label_tag "$2.000 a $3.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "3000-5000", f.object.tweet_price.include?("3000-5000")
        = label_tag "$3.000 a $5.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "5000-7000", f.object.tweet_price.include?("5000-7000")
        = label_tag "$5.000 a $7.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "7000-10000", f.object.tweet_price.include?("7000-10000")
        = label_tag "$7.000 a $10.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "10000-20000", f.object.tweet_price.include?("10000-20000")
        = label_tag "$10.000 a $20.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "20000-50000", f.object.tweet_price.include?("20000-50000")
        = label_tag "$20.000 a $50.000"


      .form-actions
        = f.submit t('accept'), :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), [:admin, :campaigns], class: 'btn btn-large'

