.row
  .span8.offset2
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:admin, :campaigns])
        %span.divider /
      %li.active Editar Campaña

.row
  .span8.offset2.round_box
    = simple_form_for(@campaign, url: [:admin, @campaign], html:  { id: "new_campaign_form", class: "form-horizontal round_form" }) do |f|
      %h1.form_title Editar Campaña
      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :objective
      = f.input :price_per_click

      .form-actions
        = f.submit 'Guardar', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', [:admin, @campaign], class: 'btn btn-large'

