- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    %ul.breadcrumb
      %li
        = link_to( t('campaigns'), [:admin, :campaigns])
        %span.divider /
      %li.active= @campaign.name

.row
  .span12
    .round_box
      .content
        .right
          = link_to(t('edit'), [:edit, :admin, @campaign], :class => 'btn btn-primary')
        %h1.title= "Campaña #{@campaign.name}"

        %table.table.table-striped
          %thead
            %tr
              %th= t('celebrity')
              %th= t('clicks')
              %th= t('cost')
              %th= t('status')
              %th= t('actions')

          %tbody
            - @campaign.tweets.each do |tweet|
              %tr{ :class => cycle('odd', 'even') }
                %td= link_to(tweet.influencer.full_name, admin_influencer_path(tweet.influencer))
                %td= link_to(tweet.clicks_count, [:admin, tweet.campaign, tweet, :clicks])
                %td= tweet.fee_type == 'tweet_fee' ? "Tweet: $#{sprintf("%.02f", tweet.tweet_fee)}" : "Click: $#{sprintf("%.02f", tweet.cpc_fee)}"
                %td= advertiser_tweet_status(tweet.status)
                %td
                  = link_to(t('detail'), [:admin, @campaign, tweet], class: 'btn btn-mini btn-primary')
                  - unless ['activated'].include?(tweet.status)
                    = link_to(t('edit_text'), [:edit, :admin, @campaign, tweet], class: 'btn btn-mini btn-inverse')
                    = link_to(t('edit_date'), [:edit_date, :admin, @campaign, tweet], class: 'btn btn-mini btn-inverse')
                    = link_to(t('reject'), [:reject, :admin, @campaign, tweet], method: :get, class: 'btn btn-mini btn-inverse', confirm: t('are_you_sure_reject'))

