.row
  .span12
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:advertiser, :campaigns])
        %span.divider /
      %li.active
        Historial de Campañas

- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    .round_box
      .content
        %h1.title Campañas Historicas

        %table.table.table-striped
          %thead
            %tr
              %th= sort_link(@search, :name, 'Nombre')
              %th= sort_link(@search, :clicks_count, 'Clicks')
              %th= sort_link(@search, :cost, 'Costo')
              %th= sort_link(@search, :created_at, "Creado")
              %th Acciones

          %tbody
            - @campaigns.each do |campaign|
              %tr{ :class => cycle('odd', 'even') }
                %td= link_to(campaign.name, [:advertiser, campaign])
                %td= link_to(campaign.clicks_count, "#")
                %td= campaign.cost
                %td= localize(campaign.created_at, :format => "%d/%m/%Y")
                %td
                  = link_to('Ver', [:advertiser, campaign], class: 'btn btn-primary')
        .center_text
          = paginate @campaigns

