.row
  .span8.offset2.round_box
    = form_for(@campaign, url: [:set_audience, :advertiser, @campaign], html:  { id: "audience_campaign_form", class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title Audiencia
      - if @campaign.created_at > Time.now - 1.minute
        .center_text{style: 'margin: -20px 0 20px 0;'}
          %h3 Paso 2 de 2
      = render '/shared/form_errors', :object => f.object

      = f.label :locations, "Zona Geográfica"


      = f.label :males, "Hombres"
      = f.check_box :males

      = f.label :females, "Mujeres"
      = f.check_box :females

      = f.label :moms, "Mamás"
      = f.check_box :moms

      = f.label :teens, "Adolesecentes"
      = f.check_box :teens

      = f.label :college_students, "Universitarios"
      = f.check_box :college_students

      = f.label :young_women, "Mujeres (18 a 35 años)"
      = f.check_box :young_women

      = f.label :young_men, "Hombres (18 a 35 años)"
      = f.check_box :young_men

      = f.label :adult_women, "Mujeres (más de 35 años)"
      = f.check_box :adult_women

      = f.label :adult_men, "Hombres (más de 35 años)"
      = f.check_box :adult_men

      = f.label :sports, "Deportes"
      = f.check_box :sports

      = f.label :fashion, "Moda"
      = f.check_box :fashion

      = f.label :music, "Música"
      = f.check_box :music

      = f.label :movies, "Películas"
      = f.check_box :movies

      = f.label :politics, "Política"
      = f.check_box :politics

      = f.label :followers_quantity, "Seguidores"
      = f.select :followers_quantity, followers_quantity_options




      .form-actions
        = f.submit 'Aceptar', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', [:advertiser, :campaigns], class: 'btn btn-large'

