- content_for :head do
  = javascript_include_tag 'advertiser/audience'

.row
  .span8.offset2
    %ul.breadcrumb
      %li
        = link_to(t('campaigns'), [:advertiser, :campaigns])
        %span.divider /
      %li.active
        - if @campaign.created_at > Time.now - 1.minute
          = t('new_campaign')
        - else
          = t('audience')

.row
  .span8.offset2.round_box
    = form_for(@campaign, url: [:set_audience, :advertiser, @campaign], html:  { id: "audience_campaign_form", class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title Target
      - if @campaign.created_at > Time.now - 1.minute
        .center_text{style: 'margin: -20px 0 20px 0;'}
          &nbsp;
      = render '/shared/form_errors', :object => f.object

      %h2 Zona Geográfica
      .geographic_zones
        .geographic_zone.argentine
          = check_box_tag "campaign[locations][]", "Argentina", f.object.locations.include?("Argentina")
          = label_tag "Argentina"
        .geographic_zone.argentine-provinces
          - ["Buenos Aires",  "Catamarca",  "Chaco", "Córdoba", "Corrientes", "Entre Ríos", "Formosa", "Jujuy", "La Pampa", "La Rioja", "Mendoza", "Misiones", "Neuquén", "Rio Negro", "Salta", "San Juan", "San Luis", "Santa Cruz", "Santa Fe", "Sgo. del Estero", "Tierra del Fuego", "Tucumán"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.colombian
          = check_box_tag "campaign[locations][]", "Colombia", f.object.locations.include?("Colombia")
          = label_tag "Colombia"
        .geographic_zone.colombian-provinces
          - ["Amazonas", "Antioquia", "Arauca", "Atlántico", "Bolívar", "Boyacá", "Caldas", "Caquetá", "Casanare", "Cauca", "Cesar", "Chocó", "Córdoba", "Cundinamarca", "Guainía", "Guaviare", "Huila", "La Guajira", "Magdalena", "Meta", "Nariño", "Norte de Santander", "Putumayo", "Quindío", "Risaralda", "San Andrés y Providencia", "Santander", "Sucre", "Tolima", "Valle del Cauca", "Vaupés", "Vichada", "Colombia"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.chilean
          = check_box_tag "campaign[locations][]", "Chile", f.object.locations.include?("Chile")
          = label_tag "Chile"
        .geographic_zone.chilean-provinces
          - ["Arica y Parinacota", "Tarapacá", "Antofagasta", "Atacama", "Coquimbo", "Valparaíso", "Santiago", "O'Higgins", "Maule", "Biobío", "La Araucanía", "Los Ríos", "Los Lagos", "Aysén", "Magallanes"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.ecuador
          = check_box_tag "campaign[locations][]", "Ecuador", f.object.locations.include?("Ecuador")
          = label_tag "Ecuador"
        .geographic_zone.ecuador-provinces
          - ["Azuay", "Bolívar", "Cañar", "Carchi", "Chimborazo", "Cotopaxi", "El Oro", "Esmeraldas", "Galápagos", "Guayas", "Imbabura", "Loja", "Los Ríos", "Manabí", "Morona Santiago", "Napo", "Orellana", "Pastaza", "Pichincha", "Santa Elena", "Santo Domingo de los Tsáchilas", "Sucumbíos", "Tungurahua", "Zamora Chinchipe"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.mexican
          = check_box_tag "campaign[locations][]", "Mexico", f.object.locations.include?("Mexico")
          = label_tag "Mexico"
        .geographic_zone.mexican-provinces
          - ["Aguascalientes","Baja California", "Baja California Sur", "Campeche", "Chiapas", "Chihuahua", "Coahuila de Zaragoza", "Colima", "Distrito Federal", "Durango", "Guanajuato", "Guerrero", "Hidalgo", "Jalisco", "México", "Michoacán de Ocampo", "Morelos", "Nayarit", "Nuevo León", "Oaxaca", "Puebla", "Querétaro", "Quintana Roo", "San Luis Potosí", "Sinaloa", "Sonora", "Tabasco", "Tamaulipas", "Tlaxcala", "Veracruz de Ignacio de la Llave", "Yucatán", "Zacatecas"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.paraguay
          = check_box_tag "campaign[locations][]", "Paraguay", f.object.locations.include?("Paraguay")
          = label_tag "Paraguay"
        .geographic_zone.paraguay-provinces
          - ["Asunción", "Concepción", "San Pedro", "Cordillera", "Guairá", "Caaguazú", "Caazapá", "Itapúa", "Misiones", "Paraguarí", "Alto Paraná", "Central", "Ñeembucú", "Amambay", "Canindeyú", "Presidente Hayes", "Alto Paraguay", "Boquerón"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'
        .geographic_zone.uruguay
          = check_box_tag "campaign[locations][]", "Uruguay", f.object.locations.include?("Uruguay")
          = label_tag "Uruguay"
        .geographic_zone.uruguay-provinces
          - ["Artigas", "Canelones", "Cerro Largo", "Colonia", "Durazno", "Flores", "Florida", "Lavalleja", "Maldonado", "Montevideo", "Paysandú", "Río Negro", "Rivera", "Rocha", "Salto", "San José", "Soriano", "Tacuarembó", "Treinta y Tres"].each do |province|
            %div{style: 'display: inline-block'}
              = check_box_tag "campaign[locations][]", province, f.object.locations.include?(province)
              = label_tag province, province, style: 'margin-right: 8px'

      %h2= t('ages')
      .option
        = f.check_box( :moms, {:class =>'age-filter'})
        = f.label :moms, "Mamás"
      .option
        = f.check_box( :teens, {:class =>'age-filter'})
        = f.label :teens, "Adolescentes"
      .option
        = f.check_box( :college_students, {:class =>'age-filter'})
        = f.label :college_students, "Universitarios"
      .option
        = f.check_box( :young_women, {:class =>'age-filter'})
        = f.label :young_women, "Mujeres (18 a 35 años)"
      .option
        = f.check_box( :young_men, {:class =>'age-filter'})
        = f.label :young_men, "Hombres (18 a 35 años)"
      .option
        = f.check_box( :adult_women, {:class =>'age-filter'})
        = f.label :adult_women, "Mujeres (más de 35 años)"
      .option
        = f.check_box( :adult_men, {:class =>'age-filter'})
        = f.label :adult_men, "Hombres (más de 35 años)"

      %h2= t('genre')

      .option
        = f.check_box :males
        = f.label :males, "Hombres"

      .option
        = f.check_box :females
        = f.label :females, "Mujeres"

      %h2  Hobbys
      .option
        = f.check_box( :sports, {:class =>'hobby-filter'})
        = f.label :sports, "Deportes"
      .option
        = f.check_box( :fashion, {:class =>'hobby-filter'})
        = f.label :fashion, "Moda"
      .option
        = f.check_box( :music, {:class =>'hobby-filter'})
        = f.label :music, "Música"
      .option
        = f.check_box( :movies, {:class =>'hobby-filter'})
        = f.label :movies, "Cine"
      .option
        = f.check_box( :politics, {:class =>'hobby-filter'})
        = f.label :politics, "Política"
      .option
        = f.check_box( :technology, {:class =>'hobby-filter'})
        = f.label :technology, "Tecnología"
      .option
        = f.check_box( :travel, {:class =>'hobby-filter'})
        = f.label :travel, "Viajes"
      .option
        = f.check_box( :luxury, {:class =>'hobby-filter'})
        = f.label :luxury, "Lujos"

      %h2 Seguidores
      .option
        = check_box_tag "campaign[followers_qty][]", "0-500", f.object.followers_qty.include?("0-500")
        = label_tag "0 a 500"
      .option
        = check_box_tag "campaign[followers_qty][]", "500-2000", f.object.followers_qty.include?("500-2000")
        = label_tag "500 a 2.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "2000-10000", f.object.followers_qty.include?("2000-10000")
        = label_tag "2.000 a 10.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "10000-100000", f.object.followers_qty.include?("10000-100000")
        = label_tag "10.000 a 100.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "100000-300000", f.object.followers_qty.include?("100000-300000")
        = label_tag "100.000 a 300.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "300000-600000", f.object.followers_qty.include?("300000-600000")
        = label_tag "300.000 a 600.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "600000-900000", f.object.followers_qty.include?("600000-900000")
        = label_tag "600.000 a 900.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "900000-2000000", f.object.followers_qty.include?("900000-2000000")
        = label_tag "900.000 a 2.000.000"
      .option
        = check_box_tag "campaign[followers_qty][]", "2000000-50000000", f.object.followers_qty.include?("2000000-50000000")
        = label_tag "2.000.000 a 50.000.000"

      %h2 Precio del Tweet
      .option
        = check_box_tag "campaign[tweet_price][]", "0-300", f.object.tweet_price.include?("0-300")
        = label_tag "$0 a $300"
      .option
        = check_box_tag "campaign[tweet_price][]", "300-1000", f.object.tweet_price.include?("300-1000")
        = label_tag "$300 a $1.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "1000-2000", f.object.tweet_price.include?("1000-2000")
        = label_tag "$1.000 a $2.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "2000-3000", f.object.tweet_price.include?("2000-3000")
        = label_tag "$2.000 a $3.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "3000-5000", f.object.tweet_price.include?("3000-5000")
        = label_tag "$3.000 a $5.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "5000-7000", f.object.tweet_price.include?("5000-7000")
        = label_tag "$5.000 a $7.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "7000-10000", f.object.tweet_price.include?("7000-10000")
        = label_tag "$7.000 a $10.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "10000-20000", f.object.tweet_price.include?("10000-20000")
        = label_tag "$10.000 a $20.000"
      .option
        = check_box_tag "campaign[tweet_price][]", "20000-50000", f.object.tweet_price.include?("20000-50000")
        = label_tag "$20.000 a $50.000"



      .form-actions
        = f.submit 'Aceptar', :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), [:advertiser, :campaigns], class: 'btn btn-large'

- html = "<!-- begin olark code --><script data-cfasync=\"false\" type='text/javascript'>/*{literal}<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol==\"https:\"?\"https:\":\"http:\",z=c.name,r=\"load\";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z](\"call\",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent(\"on\"+r,s);var ld=function(){function p(hd){hd=\"head\";return[\"<\",hd,\"></\",hd,\"><\",i,' onl' + 'oad=\"var d=',g,\";d.getElementsByTagName('head')[0].\",j,\"(d.\",h,\"('script')).\",k,\"='\",l,\"//\",a.l,\"'\",'\"',\"></\",i,\">\"].join(\"\")}var i=\"body\",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j=\"appendChild\",h=\"createElement\",k=\"src\",n=d[h](\"div\"),v=n[j](d[h](z)),b=d[h](\"iframe\"),g=\"document\",e=\"domain\",o;n.style.display=\"none\";m.insertBefore(n,m.firstChild).id=z;b.frameBorder=\"0\";b.id=z+\"-loader\";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src=\"javascript:false\"}b.allowTransparency=\"true\";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o=\"javascript:var d=\"+g+\".open();d.domain='\"+d.domain+\"';\";b[k]=o+\"void(0);\"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write(\"'+p().replace(/\"/g,String.fromCharCode(92)+'\"')+'\");d.close();'}a.P(2)};ld()};nt()})({loader: \"static.olark.com/jsclient/loader0.js\",name:\"olark\",methods:[\"configure\",\"extend\",\"declare\",\"identify\"]});/* custom configuration goes here (www.olark.com/documentation) */olark.identify('9176-655-10-5717');/*]]>{/literal}*/</script><noscript><a href=\"https://www.olark.com/site/9176-655-10-5717/contact\" title=\"Contact us\" target=\"_blank\">Questions? Feedback?</a> powered by <a href=\"http://www.olark.com?welcome\" title=\"Olark live chat software\">Olark live chat software</a></noscript><!-- end olark code -->"
= raw html