.row
  .span8.offset2
    %ul.breadcrumb
      %li
        = link_to(t('campaigns'), [:advertiser, :campaigns])
        %span.divider /
      %li.active= t('new_campaign')

.row
  .span8.offset2.round_box
    = simple_form_for(@campaign, url: [:advertiser, @campaign], html:  { id: "new_campaign_form", class: "form-horizontal round_form" }) do |f|
      %h1.form_title= t('new_campaign')
      .center_text{style: 'margin: -20px 0 20px 0;'}
        &nbsp;
      = render '/shared/simple_form_errors', :f => f

      %fieldset
        %legend= t('data')
        = f.input :name
        = f.input :campaign_type, :input_html => {:style => 'width:410px;'} , as: :select, collection: ['Generar comunidad','Incrementar los seguidores','Potenciar el lanzamiento de un producto o servicio','Salir de una crisis en las redes sociales', 'Mejorar la imagen positiva', 'Consolidar la marca','Reforzar el posicionamiento','Incrementar ventas','Dirigir usuarios a una URL'], include_blank: false
        = f.input :objective, :input_html => {:rows=> '10'}
        = f.input :instructions, label: t('new_campaign_instructions'), :input_html => {:rows=> '10'}
        = f.input :dialog_campaign

      %fieldset
        %legend= t('campaign_follow')
        = f.input :twitter_screen_name
        = f.input :hashtag
        = f.input :phrase

      - if current_role.can_create_click_fee?
        %h3.title= t('payment_type')
        = f.input :price_per_click, as: :radio, collection: [["Precio por Tweet", false], ["Precio por Click", true]], label: 'Tipo de pago'


      .form-actions
        = f.submit t('create'), :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), [:advertiser, :campaigns], class: 'btn btn-large'

= raw html