.row
  .span8.offset2
    %ul.breadcrumb
      %li
        = link_to("Campa침as", [:advertiser, :campaigns])
        %span.divider /
      %li.active Nueva Campa침a

.row
  .span8.offset2.round_box
    = simple_form_for(@campaign, url: [:advertiser, @campaign], html:  { id: "new_campaign_form", class: "form-horizontal round_form" }) do |f|
      %h1.form_title Nueva Campa침a
      .center_text{style: 'margin: -20px 0 20px 0;'}
        &nbsp;
      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :twitter_screen_name
      = f.input :objective, :input_html => {:rows=> '10'}
      = f.input :hashtag
      = f.input :instructions, label: 'Complet치 las instrucciones que le quieras dar a las celebridades a la hora de Twittear.', :input_html => {:rows=> '10'}
      = f.input :dialog_campaign

      - if current_role.can_create_click_fee?
        = f.input :price_per_click, as: :radio, collection: [["Precio por Tweet", false], ["Precio por Click", true]], label: 'Tipo de pago'


      .form-actions
        = f.submit 'Crear', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', [:advertiser, :campaigns], class: 'btn btn-large'

