.row
  .span8.offset2
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:advertiser, :campaigns])
        %span.divider /
      %li.active Nueva Campaña

.row
  .span8.offset2.round_box
    = simple_form_for(@campaign, url: [:advertiser, @campaign], html:  { id: "new_campaign_form", class: "form-horizontal round_form" }) do |f|
      %h1.form_title Nueva Campaña
      .center_text{style: 'margin: -20px 0 20px 0;'}
        %h3 Paso 1 de 2
      = render '/shared/simple_form_errors', :f => f

      = f.input :name
      = f.input :objective

      .form-actions
        = f.submit 'Crear', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', [:advertiser, :campaigns], class: 'btn btn-large'

