- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    %ul.breadcrumb
      %li.active= t('campaigns')

.row
  .span12
    .round_box
      .content
        - if current_user.advertiser.can_create_campaigns?
          .right
            = link_to(t('new_campaign'), [:new, :advertiser, :campaign], class: 'btn btn-primary')
        %h1.title= t('campaigns')


        %h2
          = t('no_campaigns_yet')

        %br
        %br

        - if current_user.advertiser.can_create_campaigns?
          = link_to(t('new_campaign'), [:new, :advertiser, :campaign], class: 'btn btn-primary')
