- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:advertiser, :campaigns])
        %span.divider /
      %li.active= @campaign.name

.row
  .span12
    .round_box
      .content
        - if current_user.advertiser.can_create_campaigns?
          .right
            = link_to('Crear Nuevo Tweet', [:advertiser, @campaign, :tweets], :class => 'btn btn-primary')
        %h1.title= "Campaña #{@campaign.name}"


        %h2
          Todavía no has creado ningún tweet.

        %br
        %br

        - if current_user.advertiser.can_create_campaigns?
          = link_to('Crear Nuevo Tweet', [:advertiser, @campaign, :tweets], :class => 'btn btn-primary')
