- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:advertiser, :campaigns])
        %span.divider /
      %li.active= @campaign.name

.row
  .span12
    .round_box
      .content
        .right
          - if @campaign.status != 'created'
            = link_to('Estadísticas', [:statistics, :advertiser, @campaign], :class => 'btn btn-primary')
          - if current_user.advertiser.can_create_campaigns? && @campaign.status != 'archived'
            = link_to('Crear Nuevo Tweet', [:advertiser, @campaign, :tweets], :class => 'btn btn-primary')
        %h1.title= "Campaña #{@campaign.name}"

        %table.table.table-striped
          %thead
            %tr
              %th Celebridad
              %th Clicks
              %th Costo
              %th Estado
              %th Acciones

          %tbody
            - @campaign.tweets.each do |tweet|
              %tr{ :class => cycle('odd', 'even') }
                %td= tweet.influencer.full_name
                %td= link_to(tweet.clicks_count, [:advertiser, tweet.campaign, tweet, :clicks])
                %td= tweet.fee_type == 'tweet_fee' ? "Tweet: $#{sprintf("%.02f", tweet.tweet_fee)}" : "Click: $#{sprintf("%.02f", tweet.cpc_fee)}"
                %td= advertiser_tweet_status(tweet.status)
                %td= link_to("Detalle", [:advertiser, @campaign, tweet], class: 'btn')


    - if @campaign.hashtags.count > 0
      .round_box{style: 'min-height: 10px'}
        .content
          %h1.title Hashtags

          - @campaign.hashtags.all.each do |hashtag|
            = link_to(hashtag.hashtag, "https://twitter.com/#!/search/#{hashtag.hashtag}", target: '_blank')
            = "&nbsp;&nbsp;".html_safe

