- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:advertiser, :campaigns])
        %span.divider /
      %li.active= @campaign.name

.row
  .span12
    .round_box
      .content
        .right
          - if @campaign.status != 'created'
            = link_to('Estadísticas', [:statistics, :advertiser, @campaign], :class => 'btn btn-primary')
          - if current_user.advertiser.can_create_campaigns? && @campaign.status != 'archived'
            = link_to('Crear Nuevo Tweet', [:advertiser, @campaign, :tweets], :class => 'btn btn-primary')
        %h1.title= "Campaña #{@campaign.name}"

        %table.table.table-striped
          %thead
            %tr
              %th= sort_link(@search, :influencer_first_name_and_influencer_last_name, 'Celebridad')
              %th Clicks
              %th Costo
              %th= sort_link(@search, :status, 'Estado')
              %th= sort_link(@search, :tweet_at, 'Fecha')
              %th Acciones

          %tbody
            - @tweets.each do |tweet|
              %tr{ :class => cycle('odd', 'even') }
                %td= tweet.influencer.full_name
                %td= link_to(tweet.clicks_count, [:advertiser, tweet.campaign, tweet, :clicks])
                %td= tweet.fee_type == 'tweet_fee' ? "Tweet: $#{sprintf("%.02f", tweet.tweet_fee)}" : "Click: $#{sprintf("%.02f", tweet.cpc_fee)}"
                %td= advertiser_tweet_status(tweet.status)
                %td= tweet.tweet_at.strftime("%d/%m/%y %H:%M")
                %td= link_to("Detalle", [:advertiser, @campaign, tweet], class: 'btn')

        .filters
          .subtitle Búsqueda
          = simple_form_for @search, :url => [:advertiser, @campaign], html: {method: :get, id: 'filter_form', class: 'form-horizontal'} do |f|
            = f.input :influencer_first_name_or_influencer_last_name_contains, label: "Celebridad", required: false
            = f.input :status_equals, label: 'Estado', required: false, as: 'select', collection: [['Propuesto', 'created'], ['Revisado por celebridad', 'influencer_reviewed'], ['Rechazado por celebridad', 'influencer_rejected'], ['En revisión por celebridad', 'advertiser_reviewed'], ['Rechazado por anunciante', 'advertiser_rejected'], ['Aceptado', 'accepted'], ['Públicado', 'activated'], ['Vencido', 'expired']]
            .form-actions
              = f.submit 'Búscar', :class => 'btn btn-primary'
              = link_to 'Cancelar', '#', :class => 'btn reset'


    - if @campaign.hashtags.count > 0
      .round_box{style: 'min-height: 10px'}
        .content
          %h1.title Hashtags

          - @campaign.hashtags.all.each do |hashtag|
            = link_to(hashtag.hashtag, "https://twitter.com/#!/search/#{hashtag.hashtag}", target: '_blank')
            = "&nbsp;&nbsp;".html_safe

