- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    %ul.breadcrumb
      %li
        = link_to(t('campaigns'), [:advertiser, :campaigns])
        %span.divider /
      %li.active= @campaign.name

.row
  .span12
    .round_box
      .content
        .right
          - if @campaign.status != 'created'
            = link_to(t('statistics'), [:statistics, :advertiser, @campaign], :class => 'btn btn-primary')
          - if current_user.advertiser.can_create_campaigns? && @campaign.status != 'archived'
            = link_to(t('new_tweet'), [:advertiser, @campaign, :tweets], :class => 'btn btn-primary')
        %h1.title= "Campaña #{@campaign.name}"

        %table.table.table-striped
          %thead
            %tr
              %th= sort_link(@search, :influencer_first_name_and_influencer_last_name, 'Celebridad')
              %th= t('clicks')
              %th= t('cost')
              %th= sort_link(@search, :status, t('status'))
              %th= sort_link(@search, :tweet_at, t('a_date'))
              %th= t('actions')

          %tbody
            - @tweets.each do |tweet|
              %tr{ :class => cycle('odd', 'even') }
                %td= tweet.influencer.full_name
                %td= link_to(tweet.clicks_count, [:advertiser, tweet.campaign, tweet, :clicks])
                %td= tweet.fee_type == 'tweet_fee' ? "Tweet: $#{sprintf("%.02f", tweet.tweet_fee)}" : "Click: $#{sprintf("%.02f", tweet.cpc_fee)}"
                %td= advertiser_tweet_status(tweet.status)
                %td= tweet.tweet_at.strftime("%d/%m/%y %H:%M")
                %td= link_to(t('detail'), [:advertiser, @campaign, tweet], class: 'btn')

        .filters
          .subtitle= t('search')
          = simple_form_for @search, :url => [:advertiser, @campaign], html: {method: :get, id: 'filter_form', class: 'form-horizontal'} do |f|
            = f.input :influencer_first_name_or_influencer_last_name_contains, label: t('celebrity'), required: false
            = f.input :status_equals, label: t('status'), required: false, as: 'select', collection: [['Propuesto', 'created'], ['Revisado por celebridad', 'influencer_reviewed'], ['Rechazado por celebridad', 'influencer_rejected'], ['En revisión por celebridad', 'advertiser_reviewed'], ['Rechazado por anunciante', 'advertiser_rejected'], ['Aceptado', 'accepted'], ['Públicado', 'activated'], ['Vencido', 'expired']]
            .form-actions
              = f.submit t('search'), :class => 'btn btn-primary'
              = link_to t('cancel'), '#', :class => 'btn reset'


    - if @campaign.hashtags.count > 0
      .round_box{style: 'min-height: 10px'}
        .content
          %h1.title= t('hashtags')

          - @campaign.hashtags.all.each do |hashtag|
            = link_to(hashtag.hashtag, "https://twitter.com/#!/search/#{hashtag.hashtag}", target: '_blank')
            = "&nbsp;&nbsp;".html_safe
