!!!
%html
  %head
    %title Borwin - It's time to go social!
    = '<link href="http://borwin.net/assets/application-b87b127587dbd6ebf0f2368679b45eab.css" media="screen" rel="stylesheet" type="text/css" />'.html_safe
    = '<link href="http://borwin.net/assets/print-7270767b2a9e9fff880aa5de378ca791.css" media="print" rel="stylesheet" type="text/css" />'.html_safe
    = '<script src="http://borwin.net/assets/application-4a4065c074ca436e994efb560b17980f.js" type="text/javascript"></script>'.html_safe
    = '<script src="http://borwin.net/assets/home-5d77779125624c6354dbd586ca5ff724.js" type="text/javascript"></script>'.html_safe
    = '<link href="http://fonts.googleapis.com/css?family=Basic" media="screen" rel="stylesheet" type="text/css" />'.html_safe

    = yield :head
    = csrf_meta_tag
  %body

    .main_container.container
      = render template: '/advertiser/campaigns/statistics_content'


