- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    %ul.breadcrumb
      %li
        = link_to("Campañas", [:advertiser, :campaigns])
        %span.divider /
      %li
        = link_to(@campaign.name, [:advertiser, @campaign])
        %span.divider /
      %li.active
        Estadísticas

.row
  .span12
    .round_box
      .content
        .right
          = link_to('Imprimir', '#', :class => 'btn btn-primary')
          = link_to('PDF', '#', :class => 'btn btn-primary')
        %h1.title= "Campaña #{@campaign.name} - Estadísticas"

        %h3 Datos Generales

        %div
          Twets:
          = @campaign.tweets.count
        %div
          Clicks:
          = @campaign.clicks_count
        %div
          Retweets:
          = @campaign.retweets_count
        %div
          Seguidores al inicio de la campaña:
          = @campaign.followers_start_count
        - if @campaign.status == 'archived'
          Seguidores al final de la campaña:
          = @campaign.followers_end_count
          - if @campaign.followers_end_count > @campaign.followers_start_count
            %div
              Incremento de seguidores:
              = @campaign.followers_end_count - @campaign.followers_start_count

        %h3 Reach

        #graph_reach


        %h3 Evolución



        %h3 Tweets

        %table.table.table-striped
          %thead
            %tr
              %th{style: 'width: 45px'} &nbsp;
              %th Celebridad
              %th Clicks
              %th CPC
              %th CPMS
              %th Share
              %th Acciones

          %tbody
            - @campaign.tweets.activated.each do |tweet|
              %tr{ :class => cycle('odd', 'even') }
                %td= img_link_to_twitter(tweet.influencer)
                %td
                  = link_to("@#{tweet.influencer.user.twitter_screen_name}", "http://twitter.com/#{tweet.influencer.user.twitter_screen_name}", target: '_blank').html_safe
                  = "(#{tweet.influencer.full_name})"
                %td= link_to(tweet.clicks_count, [:advertiser, tweet.campaign, tweet, :clicks])
                %td= statistics_tweet_cpc(tweet)
                %td= statistics_tweet_cpms(tweet)
                %td= tweet.influencer.audience.followers
                %td= link_to("Detalle", [:advertiser, @campaign, tweet], class: 'btn')

        %h3 Clicks

        %table.table.table-striped
          %thead
            %tr
              %th Tweet
              %th IP
              %th Navegador
              %th{style: 'width: 140px'} Fecha

          %tbody
            - @campaign.clicks.each do |click|
              %tr{ :class => cycle('odd', 'even') }
                %td= link_to(truncate(click.tweet.text, length: 100), [:advertiser, click.tweet.campaign, click.tweet])
                %td= click.remote_ip
                %td= click.remote_agent
                %td= localize(click.created_at, :format => "%d/%m/%Y %H:%M:%S")

        %h3 Retweets

        %table.table.table-striped
          %thead
            %tr
              %th{style: 'width: 45px'} &nbsp;
              %th Usuario
              %th Tweet
              %th Seguidores
              %th{style: 'width: 140px'} Fecha

          %tbody
            - @campaign.retweets.order('twitter_created_at asc').each do |retweet|
              %tr{ :class => cycle('odd', 'even') }
                %td= img_link_to_user(retweet.twitter_image_url, retweet.twitter_screen_name)
                %td= link_to_twitter_screen_name(retweet.twitter_screen_name)
                %td= link_to(truncate(retweet.tweet.text, length: 20), "http://twitter.com/#{retweet.twitter_screen_name}/status/#{retweet.twitter_id}", target: '_blank')
                %td= retweet.twitter_followers_count
                %td= localize(retweet.twitter_created_at, :format => "%d/%m/%Y %H:%M:%S")

        = link_to("Volver", [:advertiser, @campaign], class: 'btn btn-primary')



:javascript
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'graph_reach',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'Reach de la campaña'
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
            }
          },
          showInLegend: true
        }
      },
      series: [{
        type: 'pie',
        name: 'Porcentage según reach de celebridad',
        data: [
          #{@campaign.highrise_reach}
        ]
      }]
    });