#block-text.block
  .content
    %h2.title Referidos
    .inner
      %table{:class => :table}
        %tr
          - if current_user.admin?
            %th Referido Por
          %th Referido
          %th Email          
          %th Desde
          %th Hasta
          %th Comisión
          %th Monto Pendiente
          %th Monto Pagado
          %th Estado
          %th Detalles      
        - @referrals.each do |referral|
          %tr{ :class => @cycle = cycle('odd', 'even') }
            - if current_user.admin?
              %td= link_to referral.destination_twitter_username, influencer_path(referral.influencer_id)
            %td= referral.lastname + ", " + referral.firstname
            %td= referral.email
            %td= localize referral.since, :format => "%B %e, %Y"
            %td= localize referral.through, :format => "%B %e, %Y"
            %td= number_to_percentage(referral.commission * 100, :precision => 2)
            %td= number_to_currency(referral.amount_pending, :precision => 2)
            %td= number_to_currency(referral.amount_paid, :precision => 2)
            %td
              %span{:class => "#{referral.status} status"}= referral.status
            %td= link_to "Ver", "/transactions/" + referral.influencer_id.to_s + "/details"

      - if current_user.admin?
        = link_to "Agregar Referido", "/referrals/new"