%p#notice= notice

%p
  %b Source:
  = @referral.source_id
%p
  %b Destination:
  = @referral.destination_id
%p
  %b Since:
  = @referral.since
%p
  %b Through:
  = @referral.through
%p
  %b Commission:
  = @referral.commission
