.row.registration_container
  .span6.offset3
    = simple_form_for(@user, :url => affiliate_profiles_update_password_path, :html => { class: "form-horizontal round_form", method: :put }) do |f|
      .form_title Cambiar Contraseña
      = render '/shared/simple_form_errors', :f => f
      = f.input :password
      = f.input :password_confirmation

      .form-actions
        = f.submit 'Guardar', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', influencer_profile_path, class: 'btn btn-large'
