.row
  .span6.offset3
    .frontend_round_content
      .main_blue_title Datos de cobros

      %p= "Preferencia de cobro: #{@influencer.preferred_payment}"
      %p= "Número de cuenta: #{@influencer.account_number}"
      %p= "Tipo de cuenta: #{@influencer.account_type}"
      %p= "CBU: #{@influencer.cbu}"
      %p= "Banco: #{@influencer.bank_name}"

      .form-actions
        = link_to 'Editar', influencer_profiles_edit_payment_data_path, :class => 'btn btn-primary btn-large'
        = link_to 'Volver', influencer_profile_path, class: 'btn btn-large'
