- content_for :head do
  = javascript_include_tag 'http://widgets.twimg.com/j/2/widget.js'
  = javascript_include_tag 'user_profile'

- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span9

    .profile_round_box
      .profile_resume_head
        %h1
          = @affiliate.company

      .profile_body
        .twitter_overview
          .overview_data.clearfix
            %h2
              - unless @affiliate.twitter_screen_name.blank?
                = link_to("@#{@affiliate.twitter_screen_name}", "https://twitter.com/#!/#{@affiliate.twitter_screen_name}")
              %span.edit_profile
                = link_to("Editar Perfil", [:affiliate, :profiles, :edit], :class => 'btn btn-primary')
            - unless @affiliate.brand.blank?
              %strong= "Marca:"
              = @affiliate.brand
            %p
              %strong= "Nombre:"
              = @affiliate.full_name
            %p
              %strong= "Cargo:"
              = @affiliate.position
          .twitter_photo
            - if @affiliate.photo.exists?
              = link_to(image_tag(@affiliate.photo.url(:profile)), '#user_photo', 'data-toggle' => 'modal')
            - else
              = link_to(image_tag('logo_empresas.jpg'), '#user_photo', 'data-toggle' => 'modal')

      .profile_data.clearfix
        .influencer_stats
          .box_container.clearfix
            .box
              .stat= t('address')
              .data= @affiliate.address
              .stat= t('city')
              .data= @affiliate.city
              .stat= t('state')
              .data= @affiliate.state
              .stat= t('country')
              .data= @affiliate.country
              .stat= t('postal_code')
              .data= @affiliate.zip_code

            .box.last
              .stat= t('starting_date_tweetgo')
              .data= @affiliate.user.created_at.strftime("%d/%m/%y")
              .stat= t('referrals')
              .data= link_to(@affiliate.user.referrals.count, [:affiliate, :referrals])
              .stat= t('income')
              .data= link_to(number_to_currency(@affiliate.user.total_referral_earnings), [:affiliate, :referrals])

      #user_photo.modal.hide.fade
        = simple_form_for @affiliate, :url => affiliate_profiles_update_photo_path do |f|
          .modal-header
            %button.close{'data-dismiss' => 'modal'} x
            %h3= t('picture')
          .modal-body
            .clearfix
              .image
                - if @affiliate.photo.exists?
                  = image_tag(@affiliate.photo.url(:profile))
                - else
                  = image_tag('logo_empresas.jpg')
              .form
                = f.input :photo
          .modal-footer
            %a.btn.close_user_photo{:href => '#'} Cerrar
            = f.submit t('save'), :class => 'btn btn-primary'


  .span3
    .profile_round_box
      :javascript
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 4,
          interval: 30000,
          width: 250,
          height: 300,
          theme: {
            shell: {
              background: '#1F91D0',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#6b6b6b',
              links: '#2f8dcc'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('#{@affiliate.twitter_screen_name.blank? ? 'BorwinAR' : @affiliate.twitter_screen_name}').start();


/
  .row
    .span9
      .round_box
        aca van los tweets del sitio




