%table.table.table-striped
  %thead
    %tr
      %th Seguidores
      %th Amigos
      %th Tweets
      %th Retweets
  %tbody
    %tr
      %td= audience.followers
      %td= audience.friends
      %td= audience.tweets
      %td= audience.retweets

%table.table.table-striped
  %thead
    %tr
      %th Hombres
      %th Mujeres
      %th Mamás
      %th Adolescentes
      %th Universitarios
      %th Mujeres (18 a 35)
      %th Hombres (18 a 35)
      %th Mujeres (+ de 35)
      %th Hombres (+ de 35)

  %tbody
    %tr
      %td= audience.males
      %td= audience.females
      %td= audience.moms
      %td= audience.teens
      %td= audience.college_students
      %td= audience.young_women
      %td= audience.young_men
      %td= audience.adult_women
      %td= audience.adult_men

%table.table.table-striped
  %thead
    %tr
      %th Deportes
      %th Moda
      %th Música
      %th Cine
      %th Política
      %th Tecnología
      %th Viajes
      %th Lujos
  %tbody
    %tr
      %td= audience.sports
      %td= audience.fashion
      %td= audience.music
      %td= audience.movies
      %td= audience.politics
      %td= audience.technology
      %td= audience.travel
      %td= audience.luxury
