%table.table.table-striped
  %thead
    %tr
      %th.center_text Seguidores
      %th.center_text Amigos
      %th.center_text Tweets
      %th.center_text Retweets
  %tbody
    %tr
      %td.center_text= audience.followers
      %td.center_text= audience.friends
      %td.center_text= audience.tweets
      %td.center_text= audience.retweets

%table.table.table-striped
  %thead
    %tr
      %th.center_text Hombres
      %th.center_text Mujeres
      %th.center_text Mamás
      %th.center_text Adolescentes
      %th.center_text Universitarios
      %th.center_text Mujeres (18 a 35)
      %th.center_text Hombres (18 a 35)
      %th.center_text Mujeres (+ de 35)
      %th.center_text Hombres (+ de 35)

  %tbody
    %tr
      %td.center_text= "#{audience.males}%"
      %td.center_text= "#{audience.females}%"
      %td.center_text= "#{audience.moms}%"
      %td.center_text= "#{audience.teens}%"
      %td.center_text= "#{audience.college_students}%"
      %td.center_text= "#{audience.young_women}%"
      %td.center_text= "#{audience.young_men}%"
      %td.center_text= "#{audience.adult_women}%"
      %td.center_text= "#{audience.adult_men}%"

%table.table.table-striped
  %thead
    %tr
      %th.center_text Deportes
      %th.center_text Moda
      %th.center_text Música
      %th.center_text Cine
      %th.center_text Política
      %th.center_text Tecnología
      %th.center_text Viajes
      %th.center_text Lujos
  %tbody
    %tr
      %td.center_text= "#{audience.sports}%"
      %td.center_text= "#{audience.fashion}%"
      %td.center_text= "#{audience.music}%"
      %td.center_text= "#{audience.movies}%"
      %td.center_text= "#{audience.politics}%"
      %td.center_text= "#{audience.technology}%"
      %td.center_text= "#{audience.travel}%"
      %td.center_text= "#{audience.luxury}%"
