%table.table.table-striped
  %thead
    %tr
      %th.center_text Seguidores
      %th.center_text Amigos
      %th.center_text Tweets
      %th.center_text Retweets
  %tbody
    %tr
      %td.center_text= audience.followers
      %td.center_text= audience.friends
      %td.center_text= audience.tweets
      %td.center_text= audience.retweets

%table.table.table-striped
  %thead
    %tr
      %th.center_text Hombres
      %th.center_text Mujeres
      %th.center_text Mamás
      %th.center_text Adolescentes
      %th.center_text Universitarios
      %th.center_text Mujeres (+18)
      %th.center_text Hombres (+18)

  %tbody
    %tr
      %td.center_text= "#{audience.males}%"
      %td.center_text= "#{audience.females}%"
      %td.center_text= "#{audience.moms}%"
      %td.center_text= "#{audience.teens}%"
      %td.center_text= "#{audience.college_students}%"
      %td.center_text= "#{audience.young_women + audience.adult_women}%"
      %td.center_text= "#{audience.young_men + audience.adult_men}%"

%table.table.table-striped
  %thead
    %tr
      %th.center_text Deportes
      %th.center_text Moda
      %th.center_text Música
      %th.center_text Cine
      %th.center_text Política
      %th.center_text Tecnología
      %th.center_text Viajes
      %th.center_text Lujos
  %tbody
    %tr
      %td.center_text= "#{audience.sports}%"
      %td.center_text= "#{audience.fashion}%"
      %td.center_text= "#{audience.music}%"
      %td.center_text= "#{audience.movies}%"
      %td.center_text= "#{audience.politics}%"
      %td.center_text= "#{audience.technology}%"
      %td.center_text= "#{audience.travel}%"
      %td.center_text= "#{audience.luxury}%"

%table.table.table-striped
  %thead
    %tr
      %th.center_text Argentina
      %th.center_text Colombia
      %th.center_text Chile
      %th.center_text Ecuador
      %th.center_text Paraguay
      %th.center_text Uruguay
  %tbody
    %tr
      %td.center_text= "#{audience.country_argentina}%"
      %td.center_text= "#{audience.country_colombia}%"
      %td.center_text= "#{audience.country_chile}%"
      %td.center_text= "#{audience.country_ecuador}%"
      %td.center_text= "#{audience.country_paraguay}%"
      %td.center_text= "#{audience.country_uruguay}%"


%table.table.table-striped
  %thead
    %tr
      %th.center_text Buenos Aires
      %th.center_text Catamarca
      %th.center_text Chaco
      %th.center_text Córdoba
      %th.center_text Corrientes
      %th.center_text Entre Rios
      %th.center_text Formosa
      %th.center_text Jujuy
      %th.center_text La Pampa
      %th.center_text La Rioja
  %tbody
    %tr
      %td.center_text= "#{audience.state_buenos_aires}%"
      %td.center_text= "#{audience.state_catamarca}%"
      %td.center_text= "#{audience.state_chaco}%"
      %td.center_text= "#{audience.state_cordoba}%"
      %td.center_text= "#{audience.state_corrientes}%"
      %td.center_text= "#{audience.state_entre_rios}%"
      %td.center_text= "#{audience.state_formosa}%"
      %td.center_text= "#{audience.state_jujuy}%"
      %td.center_text= "#{audience.state_la_pampa}%"
      %td.center_text= "#{audience.state_la_rioja}%"

%table.table.table-striped
  %thead
    %tr
      %th.center_text Mendoza
      %th.center_text Misiones
      %th.center_text Neuquen
      %th.center_text Rio Negro
      %th.center_text Salta
      %th.center_text San Juan
      %th.center_text San Luis
      %th.center_text Santa Cruz
      %th.center_text Santa Fe
      %th.center_text Sgo. Del Estero
      %th.center_text Tierra del Fuego
      %th.center_text Tucuman
  %tbody
    %tr
      %td.center_text= "#{audience.state_mendoza}%"
      %td.center_text= "#{audience.state_misiones}%"
      %td.center_text= "#{audience.state_neuquen}%"
      %td.center_text= "#{audience.state_rio_negro}%"
      %td.center_text= "#{audience.state_salta}%"
      %td.center_text= "#{audience.state_san_juan}%"
      %td.center_text= "#{audience.state_san_luis}%"
      %td.center_text= "#{audience.state_santa_cruz}%"
      %td.center_text= "#{audience.state_santa_fe}%"
      %td.center_text= "#{audience.state_sgo_del_estero}%"
      %td.center_text= "#{audience.state_tierra_del_fuego}%"
      %td.center_text= "#{audience.state_tucuman}%"

#graph_sex
#graph_hobbies
#graph_age
#graph_age_2
#graph_countries
#graph_states

:javascript
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'graph_sex',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'Género'
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
            }
          },
          showInLegend: true
        }
      },
      series: [{
        type: 'pie',
        name: 'Porcentage según genero',
        data: [
          ['Hombres', #{audience.males}],
          ['Mujeres', #{audience.females}]
        ]
      }]
    });

    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'graph_hobbies',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'Intereses'
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
            }
          },
          showInLegend: true
        }
      },
      series: [{
        type: 'pie',
        name: 'Porcentage según intereses',
        data: [
          ['Deportes', #{audience.sports}],
          ['Moda', #{audience.fashion}],
          ['Música', #{audience.music}],
          ['Cine', #{audience.movies}],
          ['Política', #{audience.politics}],
          ['Tecnología', #{audience.technology}],
          ['Viajes', #{audience.travel}],
          ['Lujos', #{audience.luxury}]
        ]
      }]
    });

    chart = new Highcharts.Chart({
          chart: {
            renderTo: 'graph_age',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
          },
          title: {
            text: 'Edades'
          },
          tooltip: {
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
            }
          },
          plotOptions: {
            pie: {
              size: 60,
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: true,
                color: '#000000',
                connectorColor: '#000000',
                formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
                }
              },
              showInLegend: true
            }
          },
          series: [{
            type: 'pie',
            name: 'Porcentage según intereses',
            center: [250, 100],
            data: [
              ['Mujeres (+18)	', #{(audience.young_women + audience.adult_women)}],
              ['Resto	', #{100 - (audience.young_women + audience.adult_women)}]
            ]
          },{
             type: 'pie',
             name: 'Porcentage según intereses',
             center: [450, 100],
             data: [
               ['Hombres (+18)	', #{(audience.young_men + audience.adult_men)}],
               ['Resto	', #{100 - (audience.young_men + audience.adult_men)}]
             ]
           }
          ]
        });

    chart = new Highcharts.Chart({
              chart: {
                renderTo: 'graph_age_2',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
              },
              title: {
                text: 'Edades'
              },
              tooltip: {
                formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
                }
              },
              plotOptions: {
                pie: {
                  size: 60,
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
                    }
                  },
                  showInLegend: true
                }
              },
              series: [{
                type: 'pie',
                name: 'Porcentage según intereses',
                center: [150, 100],
                data: [
                  ['Adolescentes', #{audience.teens}],
                  ['Resto	', #{100 - audience.teens}]
                ]
              },{
                 type: 'pie',
                 name: 'Porcentage según intereses',
                 center: [350, 100],
                 data: [
                   ['Universitarios	', #{audience.college_students }],
                   ['Resto	', #{100 - audience.college_students}]
                 ]
               },{
                 type: 'pie',
                 name: 'Porcentage según intereses',
                 center: [550, 100],
                 data: [
                   ['Madres	', #{audience.moms }],
                   ['Resto	', #{100 - audience.moms}]
                 ]
               }
              ]
            });

    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'graph_countries',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'Pais'
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
            }
          },
          showInLegend: true
        }
      },
      series: [{
        type: 'pie',
        name: 'Porcentage según nacionalidad',
        data: [
          ['Argentina', #{audience.country_argentina}],
          ['Colombia', #{audience.country_colombia}],
          ['Chile', #{audience.country_chile}],
          ['Ecuador', #{audience.country_ecuador}],
          ['Paraguay', #{audience.country_paraguay}],
          ['Uruguay', #{audience.country_uruguay}],
          ['Otros', #{audience.country_others}]
        ]
      }]
    });

    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'graph_states',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'Pais'
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
              return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
            }
          },
          showInLegend: true
        }
      },
      series: [{
        type: 'pie',
        name: 'Porcentage según provincia',
        data: [
          ['Buenos Aires', #{audience.state_buenos_aires}],
          ['Catamarca', #{audience.state_catamarca}],
          ['Chaco', #{audience.state_chaco}],
          ['Córdoba', #{audience.state_cordoba}],
          ['Corrientes', #{audience.state_corrientes}],
          ['Entre Rios', #{audience.state_entre_rios}],
          ['Formosa', #{audience.state_formosa}],
          ['Jujuy', #{audience.state_jujuy}],
          ['La Pampa', #{audience.state_la_pampa}],
          ['La Rioja', #{audience.state_la_rioja}],
          ['Mendoza', #{audience.state_mendoza}],
          ['Misiones', #{audience.state_misiones}],
          ['Neuquén', #{audience.state_neuquen}],
          ['Rio Negro', #{audience.state_rio_negro}],
          ['Salta', #{audience.state_salta}],
          ['San Juan', #{audience.state_san_juan}],
          ['San Luis', #{audience.state_san_luis}],
          ['Santa Cruz', #{audience.state_santa_cruz}],
          ['Santa Fe', #{audience.state_santa_fe}],
          ['Sgo. del Estero', #{audience.state_sgo_del_estero}],
          ['Tierra del Fuego', #{audience.state_tierra_del_fuego}],
          ['Tucumán', #{audience.state_tucuman}],
          ['NS/NC', #{audience.state_others}]
        ]
      }]
    });



  });
