%table.table.table-striped
  %thead
    %tr
      %th.center_text Seguidores
      %th.center_text Amigos
      %th.center_text Tweets
      %th.center_text Retweets
  %tbody
    %tr
      %td.center_text= audience.followers
      %td.center_text= audience.friends
      %td.center_text= audience.tweets
      %td.center_text= audience.retweets

%table.table.table-striped
  %thead
    %tr
      %th.center_text Hombres
      %th.center_text Mujeres
      %th.center_text Mamás
      %th.center_text Adolescentes
      %th.center_text Universitarios
      %th.center_text Mujeres (18 a 35)
      %th.center_text Hombres (18 a 35)
      %th.center_text Mujeres (+ de 35)
      %th.center_text Hombres (+ de 35)

  %tbody
    %tr
      %td.center_text= "#{audience.males}%"
      %td.center_text= "#{audience.females}%"
      %td.center_text= "#{audience.moms}%"
      %td.center_text= "#{audience.teens}%"
      %td.center_text= "#{audience.college_students}%"
      %td.center_text= "#{audience.young_women}%"
      %td.center_text= "#{audience.young_men}%"
      %td.center_text= "#{audience.adult_women}%"
      %td.center_text= "#{audience.adult_men}%"

%table.table.table-striped
  %thead
    %tr
      %th.center_text Deportes
      %th.center_text Moda
      %th.center_text Música
      %th.center_text Cine
      %th.center_text Política
      %th.center_text Tecnología
      %th.center_text Viajes
      %th.center_text Lujos
  %tbody
    %tr
      %td.center_text= "#{audience.sports}%"
      %td.center_text= "#{audience.fashion}%"
      %td.center_text= "#{audience.music}%"
      %td.center_text= "#{audience.movies}%"
      %td.center_text= "#{audience.politics}%"
      %td.center_text= "#{audience.technology}%"
      %td.center_text= "#{audience.travel}%"
      %td.center_text= "#{audience.luxury}%"

%table.table.table-striped
  %thead
    %tr
      %th.center_text Argentina
      %th.center_text Colombia
      %th.center_text Chile
      %th.center_text Ecuador
      %th.center_text Paraguay
      %th.center_text Uruguay
  %tbody
    %tr
      %td.center_text= "#{audience.country_argentina}%"
      %td.center_text= "#{audience.country_colombia}%"
      %td.center_text= "#{audience.country_chile}%"
      %td.center_text= "#{audience.country_ecuador}%"
      %td.center_text= "#{audience.country_paraguay}%"
      %td.center_text= "#{audience.country_uruguay}%"


%table.table.table-striped
  %thead
    %tr
      %th.center_text Buenos Aires
      %th.center_text Catamarca
      %th.center_text Chaco
      %th.center_text Córdoba
      %th.center_text Corrientes
      %th.center_text Entre Rios
      %th.center_text Formosa
      %th.center_text Jujuy
      %th.center_text La Pampa
      %th.center_text La Rioja
  %tbody
    %tr
      %td.center_text= "#{audience.state_buenos_aires}%"
      %td.center_text= "#{audience.state_catamarca}%"
      %td.center_text= "#{audience.state_chaco}%"
      %td.center_text= "#{audience.state_cordoba}%"
      %td.center_text= "#{audience.state_corrientes}%"
      %td.center_text= "#{audience.state_entre_rios}%"
      %td.center_text= "#{audience.state_formosa}%"
      %td.center_text= "#{audience.state_jujuy}%"
      %td.center_text= "#{audience.state_la_pampa}%"
      %td.center_text= "#{audience.state_la_rioja}%"

%table.table.table-striped
  %thead
    %tr
      %th.center_text Mendoza
      %th.center_text Misiones
      %th.center_text Neuquen
      %th.center_text Rio Negro
      %th.center_text Salta
      %th.center_text San Juan
      %th.center_text San Luis
      %th.center_text Santa Cruz
      %th.center_text Santa Fe
      %th.center_text Sgo. Del Estero
      %th.center_text Tierra del Fuego
      %th.center_text Tucuman
  %tbody
    %tr
      %td.center_text= "#{audience.state_mendoza}%"
      %td.center_text= "#{audience.state_misiones}%"
      %td.center_text= "#{audience.state_neuquen}%"
      %td.center_text= "#{audience.state_rio_negro}%"
      %td.center_text= "#{audience.state_salta}%"
      %td.center_text= "#{audience.state_san_juan}%"
      %td.center_text= "#{audience.state_san_luis}%"
      %td.center_text= "#{audience.state_santa_cruz}%"
      %td.center_text= "#{audience.state_santa_fe}%"
      %td.center_text= "#{audience.state_sgo_del_estero}%"
      %td.center_text= "#{audience.state_tierra_del_fuego}%"
      %td.center_text= "#{audience.state_tucuman}%"
