.row
  .span6.offset3.round_box
    = simple_form_for(@audience, url: [:admin, @influencer, :audience], html:  { class: "form-horizontal round_form", method: :put }) do |f|
      = render '/shared/simple_form_errors', :f => f

      %h1.form_title= t('percentiles')
      = f.input :males, input_html: { disabled: 'disabled' }
      = f.input :females, input_html: { disabled: 'disabled' }
      = f.input :moms
      = f.input :teens
      = f.input :college_students
      = f.input :young_women
      = f.input :young_men
      = f.input :adult_women
      = f.input :adult_men

      = f.input :sports
      = f.input :fashion
      = f.input :music
      = f.input :movies
      = f.input :politics
      = f.input :technology
      = f.input :travel
      = f.input :luxury

      .form-actions
        = f.submit t('save'), :class => 'btn btn-primary btn-large'
        = link_to t('cancel'), [:admin, @influencer], class: 'btn btn-large'

