- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title= @influencer.full_name

        .subtitle= t('twitter_info')
        %dl.record_details
          %dt= t('followers')
          %dd= dl_value @audience.followers
          %dt= t('friends')
          %dd= dl_value @audience.friends
          %dt= t('tweets')
          %dd= @audience.tweets
          %dt= t('retweets')
          %dd= @audience.retweets

        .subtitle= t('percentiles')
        %dl.record_details
          %dt= t('men')
          %dd= @audience.males
          %dt= t('women')
          %dd= @audience.females
          %dt= t('moms')
          %dd= @audience.moms
          %dt= t('teens')
          %dd= @audience.teens
          %dt= t('college')
          %dd= @audience.college_students
          %dt= t('women18')
          %dd= (@audience.young_women + @audience.adult_women)
          %dt= t('men18')
          %dd= (@audience.young_men + @audience.adult_men)

          %dt= t('sports')
          %dd= @audience.sports
          %dt= t('fashion')
          %dd= @audience.fashion
          %dt= t('music')
          %dd= @audience.music
          %dt= t('movies')
          %dd= @audience.movies
          %dt= t('politics')
          %dd= @audience.politics
          %dt= t('technology')
          %dd= @audience.technology
          %dt= t('travel')
          %dd= @audience.travel
          %dt= t('luxury')
          %dd= @audience.luxury

      .clear.center_text.show_buttons
        = link_to(t('edit_audience'), [:edit, :admin, @influencer, :audience], class: 'btn btn-primary')
        = link_to(t('celebrity'), [:admin, @influencer], class: 'btn btn-primary')

