- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title= @influencer.full_name

        .subtitle Datos Twitter
        %dl.record_details
          %dt Seguidores
          %dd= dl_value @audience.followers
          %dt Amigos
          %dd= dl_value @audience.friends
          %dt Tweets
          %dd= @audience.tweets
          %dt Retweets
          %dd= @audience.retweets

        .subtitle Porcentajes
        %dl.record_details
          %dt Hombres
          %dd= @audience.males
          %dt Mujeres
          %dd= @audience.females
          %dt Mamás
          %dd= @audience.moms
          %dt Adolescentes
          %dd= @audience.teens
          %dt Universitarios
          %dd= @audience.college_students
          %dt Mujeres (+18)
          %dd= (@audience.young_women + @audience.adult_women)
          %dt Hombres (+18)
          %dd= (@audience.young_men + @audience.adult_men)

          %dt Deportes
          %dd= @audience.sports
          %dt Moda
          %dd= @audience.fashion
          %dt Música
          %dd= @audience.music
          %dt Cine
          %dd= @audience.movies
          %dt Política
          %dd= @audience.politics
          %dt Tecnología
          %dd= @audience.technology
          %dt Viajes
          %dd= @audience.travel
          %dt Lujos
          %dd= @audience.luxury

      .clear.center_text.show_buttons
        = link_to('Editar Audiencia', [:edit, :admin, @influencer, :audience], class: 'btn btn-primary')
        = link_to('Celebridad', [:admin, @influencer], class: 'btn btn-primary')

