.row.login_container
  .span6
    %h1.center_text Inicia sesión con tu cuenta de Twitter
    = link_to(image_tag('sign-in-with-twitter.png'), login_twitter_credentials_path)
  .span6
    %h1.center_text Inicia sesión con tu email
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
      = render '/shared/flash', :flash => flash
      = f.input :email
      = f.input :password
      = f.input :remember_me, :label => "Recordarme", :as => :boolean
      .form-actions
        = f.submit


.row
  .span6.offset3
    .sign-links.center_text{:style => 'margin-top: 30px'}
      = link_to "Registrarse", new_registration_path(resource_name)
      |
      = link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name)
