%h1 Tipos de Pago

%table{:class => :table}
  %tr
    %th Nombre
    %th Descripción
    %th Estado
    %th
    %th

  - @payment_types.each do |payment_type|
    %tr
      %td= payment_type.name
      %td= payment_type.description
      %td= payment_type.full_status
      %td= link_to 'Editar', edit_payment_type_path(payment_type)
      - if payment_type.status == 'A'
        %td= link_to 'Desactivar', payment_type, :confirm => 'Esta seguro que desea desactivar este registro?', :method => :delete
      - else
        %td= link_to 'Activar', payment_type, :confirm => 'Esta seguro que desea activar este registro?', :method => :delete
        
%br

= link_to 'Nuevo Tipo de Pago', new_payment_type_path