#block-text.block
  .content
    %h2.title Editar Datos Personales
    .inner
      = form_for @affiliate, :html => {:class => "form"} do |f|
        .flash
          - @affiliate.errors.full_messages.each do |type, message|
            %div{ :class => "message alert" }
              %p= type.to_s + " " + message.to_s

        .group.wat-cf
          .left= f.label :firstname, :class => "label"
          .right
            = f.text_field :firstname, :class => "text_field"
            %span{ :class => "description" } Obligatorio. E.j. Borwin
        .group.wat-cf
          .left= f.label :lastname, :class => "label"
          .right
            = f.text_field :lastname, :class => "text_field"
            %span{ :class => "description" } Obligatorio. E.j. Argentina
        .group.wat-cf
          .left= f.label :address, :class => "label"
          .right= f.text_field :address, :class => "text_field"
        .group.wat-cf
          .left= f.label :city, :class => "label"
          .right= f.text_field :city, :class => "text_field"
        .group.wat-cf
          .left= f.label :state, :class => "label"
          .right= f.text_field :state, :class => "text_field"
        .group.wat-cf
          .left= f.label :country, :class => "label"
          .right= f.text_field :country, :class => "text_field"
        .group.wat-cf
          .left= f.label :zip_code, :class => "label"
          .right= f.text_field :zip_code, :class => "text_field"
        .group.wat-cf
          .left= f.label :phone, :class => "label"
          .right= f.text_field :phone, :class => "text_field"
        .group.wat-cf
          .right
            %button.button{ :type => "submit" }
              = image_tag "web-app-theme/icons/tick.png"
              Editar
            %span{ :class => "text_button_padding" }o
            %a{ :class => "text_button_padding link_button", :href => home_path }Cancelar