%p#notice= notice

%p
  %b User:
  = @affiliate.user_id
%p
  %b Firstname:
  = @affiliate.firstname
%p
  %b Lastname:
  = @affiliate.lastname
%p
  %b Address:
  = @affiliate.address
%p
  %b City:
  = @affiliate.city
%p
  %b State:
  = @affiliate.state
%p
  %b Country:
  = @affiliate.country
%p
  %b Zip code:
  = @affiliate.zip_code
%p
  %b Phone:
  = @affiliate.phone

= link_to 'Edit', edit_affiliate_path(@affiliate)
\|
= link_to 'Back', affiliates_path
