- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span9

    .profile_round_box
      .profile_resume_head
        %h1
          = @influencer.full_name
          %span= @influencer.influencer_type

        .price
          %span= "$#{@influencer.fixed_tweet_fee.to_f.round}"
          por tweet

      .profile_body
        .twitter_overview
          .overview_data
            %h2= link_to("@#{@influencer.user.twitter_screen_name}", "https://twitter.com/#!/#{@influencer.user.twitter_screen_name}")
            %p
              %strong= "Bio:"
              = @influencer.twitter_bio
            %p
              %strong= "Último Tweet:"
              = @twitter_user.status.try(:text)
          .twitter_photo
            - if @influencer.photo.exists?
              = image_tag(@influencer.photo)
            - else
              = image_tag('no_photo.jpg')

      .profile_data.clearfix
        %ul.stats
          %li
            %h3 seguidores
            %p= @influencer.audience.followers
          %li
            %h3 amigos
            %p= @influencer.audience.friends
          %li
            %h3 tweets
            %p= @influencer.audience.tweets
          %li
            %h3 sexo
            %p= influencer_sex(@influencer.sex)
          %li
            %h3 ingreso Twitter
            %p= @influencer.twitter_joined.strftime("%d/%m/%y")
          %li
            %h3 años
            %p= influencer_age(@influencer.birthday)
          %li
            %h3 ingreso TweetGo
            %p= @influencer.user.created_at.strftime("%d/%m/%y")
          %li
            %h3 tweet fijo
            %p= number_to_currency(@influencer.fixed_tweet_fee)
          %li
            %h3 tweet combinado
            %p= number_to_currency(@influencer.combined_tweet_fee)
          %li
            %h3 CPC fijo
            %p= number_to_currency(@influencer.fixed_cpc_fee)
          %li
            %h3 CPC combinado
            %p= number_to_currency(@influencer.combined_cpc_fee)
          %li
            %h3 CPC medio
            %p= "-"
          %li
            %h3 CPC totales
            %p= "-"

  .span3
    .round_box
      aca van los tweets del usuario

.row
  .span9
    .round_box
      aca van los tweets del sitio







