.row
  .span6.offset3.round_box
    = simple_form_for(@transaction, url: [:admin, @transaction], html:  { class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title Nuevo Pago
      = render '/shared/simple_form_errors', :f => f
      = f.input :user_id, as: :select, collection: User.where("role in (?)", ['advertiser', 'affiliate']).includes(:advertiser, :affiliate).all.collect { |u| [u.full_name, u.id] }, label: "Afiliado / Celebridad"
      = f.input :transaction_on
      = f.input :transaction_type, as: :select, collection: [['Pago', 'payment']], include_blank: false
      = f.input :details, input_html: { style: 'height: 100px'}
      = f.input :amount

      .form-actions
        = f.submit 'Guardar', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', [:admin, :transactions], class: 'btn btn-large'

