= render '/shared/simple_form_errors', :f => f
- if f.object.new_record?
  = f.input :twitter_screen_name, required: true
= f.input :email
- if f.object.new_record?
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
= f.simple_fields_for :influencer do |i|
  = i.input :first_name
  = i.input :last_name
  = i.input :birthday, as: :string
  = i.input :sex, :as => :select, :collection => [['Hombre', 'M'], ['Mujer', 'F']], :include_blank => true
  = i.input :influencer_type, :as => :select, :collection => ["Actor", "Actriz", "Músico", "Deportista", "Conductor", "Periodista", "Modelo", "Mediático", "Artista", "Panelista", "Cheff", "Humorista", "Moda", "Twitteros", "Otros"], :include_blank => true
  = i.input :description, :as => :text, :input_html => {:rows => 2, :cols => 60 }
  = i.input :address
  = i.input :country
  = i.input :state
  = i.input :city
  = i.input :zip_code
  = i.input :phone
  = i.input :cell_phone
  = i.input :contact_time
  = i.input :contact_method, :as => :select, :collection => [["Email", 'email'], ["Teléfono", 'phone'], ["Direct Message", 'direct_message']]
  = i.input :preferred_payment, :as => :select, collection: ['Cheque', 'Transferencia Bancaria']
  = i.input :account_number
  = i.input :account_type, as: :select, collection: ['Caja de Ahorro', 'Cuenta Corriente'], include_blank: false
  = i.input :cbu
  = i.input :bank_name, as: :select, collection: bank_options
  = i.input :price_category, as: :select, collection: 1..5, include_blank: false
  = i.input :manual_tweet_fee, hint: sprintf("$ %.02f", f.object.influencer.automatic_tweet_fee.to_f)
  = i.input :manual_cpc_fee, hint: sprintf("$ %.02f", f.object.influencer.automatic_cpc_fee.to_f)
  - unless f.object.new_record?
    = i.input :borwin_fee, hint: "Porcentaje, por ejemplo: 0.30 (30%)"

