- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

- params[:page] ||= 1
- row_number = (params[:page].to_i - 1) * 25

.row
  .span12
    .round_box
      .content
        .right
          = link_to('Crear Celebridad', [:new, :admin, :influencer], :class => 'btn btn-primary')
        %h1.title Celebridades

        %table.table.table-striped
          %thead
            %tr
              %th &nbsp;
              %th &nbsp;
              %th= sort_link(@search, :first_name_and_last_name, 'Nombre')
              %th= sort_link(@search, :user_email, 'Email')
              %th= sort_link(@search, :user_twitter_screen_name, 'Twitter')
              %th= sort_link(@search, :created_at, "Creado")
              %th= sort_link(@search, :audience_followers, "Seguidores")
              %th Acciones

          %tbody
            - @influencers.each do |influencer|
              %tr{ :class => cycle('odd', 'even') }
                %td= row_number = row_number + 1
                %td= img_link_to_twitter(influencer)
                %td= link_to(influencer.full_name, [:admin, influencer])
                %td= influencer.user.email
                %td= influencer.user.twitter_screen_name
                %td= influencer.created_at ? (localize(influencer.created_at, :format => "%d/%m/%Y")) : ""
                %td= influencer.audience.followers
                %td
                  = link_to('Editar', [:edit, :admin, influencer], class: 'btn btn-primary')
                  = link_to('Eliminar', [:admin, influencer], method: :delete, class: 'btn btn-danger', confirm: "Esta seguro que desea eliminar a la celebridad y todo su historial?" )
        .center_text
          = paginate @influencers

        .filters
          .subtitle Filtros
          = simple_form_for @search, :url => [:admin, :influencers], html: {method: :get, id: 'filter_form', class: 'form-horizontal'} do |f|
            = f.input :first_name_or_last_name_contains, label: "Nombre", required: false
            = f.input :user_email_equals, label: "Email", required: false
            = f.input :user_twitter_screen_name_equals, label: "Twitter", required: false
            .form-actions
              = f.submit 'Filtrar', :class => 'btn btn-primary'


