- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title= t('celebrity')
        .subtitle= t('account_info')
        %dl.record_details
          %dt= t('email')
          %dd= dl_value @influencer.user.email
          %dt= t('twitter')
          %dd= dl_value @influencer.user.twitter_screen_name
          %dt= t('name')
          %dd= dl_value @influencer.first_name
          %dt= t('last_name')
          %dd= dl_value @influencer.last_name
          %dt= t('creation_date')
          %dd= dl_value @influencer.created_at.try(:strftime, "%d/%m/%Y")
          %dt= t('update_date')
          %dd= dl_value @influencer.updated_at.try(:strftime, "%d/%m/%Y")
        .subtitle= t('twitter_info')
        %dl.record_details
          %dt= t('twitter_location')
          %dd= dl_value @influencer.twitter_location
          %dt= t('twitter_picture')
          %dd= dl_value image_tag(@influencer.twitter_image_url)
          %dt= t('twitter_bio')
          %dd= dl_value @influencer.twitter_bio
          %dt= t('twitter_join_date')
          %dd= dl_value @influencer.twitter_joined.try(:strftime, "%d/%m/%Y")
          %dt= t('klout_score')
          %dd= dl_value @influencer.audience.klout
          %dt= t('kred_score')
          %dd= dl_value @influencer.audience.kred
          %dt= t('peer_index_score')
          %dd= dl_value @influencer.audience.peerindex
        .subtitle= t('celebrity_info')
        %dl.record_details
          %dt= t('borwin_fee')
          %dd= @influencer.borwin_fee
          %dt= t('type')
          %dd= dl_value @influencer.influencer_type
          %dt= t('genre')
          %dd= dl_value @influencer.sex
          %dt= t('birthday')
          %dd= dl_value @influencer.birthday.try(:strftime, "%d/%m/%Y")
          %dt= t('description')
          %dd= dl_value @influencer.description
          %dt= t('profile_picture')
          %dd
            - if @influencer.photo.exists?
              = link_to(image_tag(@influencer.photo.url(:thumb)), @influencer.photo.url)
            - else
              = image_tag('no_photo.jpg', style: 'height: 48px;width: 48px;')
        .subtitle= t('contact_info')
        %dl.record_details
          %dt= t('address')
          %dd= dl_value @influencer.address
          %dt= t('city')
          %dd= dl_value @influencer.city
          %dt= t('state')
          %dd= dl_value @influencer.state
          %dt= t('country')
          %dd= dl_value @influencer.country
          %dt= t('postal_code')
          %dd= dl_value @influencer.zip_code
          %dt= t('telephone')
          %dd= dl_value @influencer.phone
          %dt= t('cell_phone')
          %dd= dl_value @influencer.cell_phone
          %dt= t('preferred_contact_schedule')
          %dd= dl_value @influencer.contact_time
          %dt= t('preferred_contact_method')
          %dd= dl_value @influencer.contact_method
        .subtitle= t('payment_info')
        %dl.record_details
          %dt= t('preferred_payment')
          %dd= dl_value @influencer.preferred_payment
          %dt= t('account_number')
          %dd= dl_value @influencer.account_number
          %dt= t('account_type')
          %dd= dl_value @influencer.account_type
          %dt= t('CBU')
          %dd= dl_value @influencer.cbu
          %dt= t('bank_name')
          %dd= dl_value @influencer.bank_name
        .subtitle= t('prices')
        %dl.record_details
          %dt= t('category')
          %dd= dl_value @influencer.price_category
          %dt= t('tweet_price')
          %dd= number_to_currency(@influencer.tweet_fee)
          %dt= t('campaign_price')
          %dd= number_to_currency(@influencer.campaign_fee)
          %dt= t('click_price')
          %dd= number_to_currency(@influencer.cpc_fee)
          %dt= t('borwin_fee')
          %dd= "% #{@influencer.borwin_fee}"
          %dt= t('price_tweet_celebrity')
          %dd= number_to_currency(@influencer.influencer_tweet_fee)
          %dt= t('price_campaign_celebrity')
          %dd= number_to_currency(@influencer.influencer_campaign_fee)
          %dt= t('price_click_celebrity')
          %dd= number_to_currency(@influencer.influencer_cpc_fee)
        .subtitle= t('audience')
        = render '/admin/audiences/audience_table', audience: @influencer.audience
      .clear.center_text.show_buttons
        = link_to(t('edit'), [:edit, :admin, @influencer], class: 'btn btn-primary')
        = link_to(t('audience'), [:admin, @influencer, :audience], class: 'btn btn-primary')
        = link_to(t('destroy'), [:admin, @influencer], method: :delete, class: 'btn btn-danger', confirm: "Esta seguro que desea eliminar a la celebridad y todo su historial?" )
        = link_to(t('list'), [:admin, :influencers], class: 'btn btn-primary')
        = link_to(t('recategorize'), [:recategorize, :admin, @influencer], class: 'btn btn-warning', confirm: "Esta seguro que quiere acceder a la pantalla para recategorizar a la celebridad?")
        = link_to(t('referent'), [:set_influence, :admin, @influencer], class: 'btn btn-warning', confirm: "Esta seguro que quiere acceder a la pantalla para configurar como referente a la celebridad?")


