- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title Celebridad
        .subtitle Datos de la cuenta
        %dl.record_details
          %dt Email
          %dd= dl_value @influencer.user.email
          %dt Twitter
          %dd= dl_value @influencer.user.twitter_screen_name
          %dt Nombre
          %dd= dl_value @influencer.first_name
          %dt Apellido
          %dd= dl_value @influencer.last_name
          %dt Fecha creación
          %dd= dl_value @influencer.created_at.try(:strftime, "%d/%m/%Y")
          %dt Fecha actualización
          %dd= dl_value @influencer.updated_at.try(:strftime, "%d/%m/%Y")
        .subtitle Datos de Twitter
        %dl.record_details
          %dt Twitter - Ubicación
          %dd= dl_value @influencer.twitter_location
          %dt Twitter - Foto
          %dd= dl_value image_tag(@influencer.twitter_image_url)
          %dt Twitter - Bio
          %dd= dl_value @influencer.twitter_bio
          %dt Twitter - Fecha ingreso
          %dd= dl_value @influencer.twitter_joined.try(:strftime, "%d/%m/%Y")
          %dt Klout - Score
          %dd= dl_value @influencer.audience.klout
        .subtitle Datos de la celebridad
        %dl.record_details
          %dt Comisión Borwin
          %dd= @influencer.borwin_fee
          %dt Tipo
          %dd= dl_value @influencer.influencer_type
          %dt Sexo
          %dd= dl_value @influencer.sex
          %dt Cumpleaños
          %dd= dl_value @influencer.birthday.try(:strftime, "%d/%m/%Y")
          %dt Descripción
          %dd= dl_value @influencer.description
          %dt Foto de perfil
          %dd
            - if @influencer.photo.exists?
              = link_to(image_tag(@influencer.photo.url(:thumb)), @influencer.photo.url)
            - else
              = image_tag('no_photo.jpg', style: 'height: 48px;width: 48px;')
        .subtitle Datos de contacto
        %dl.record_details
          %dt Dirección
          %dd= dl_value @influencer.address
          %dt Ciudad
          %dd= dl_value @influencer.city
          %dt Provincia
          %dd= dl_value @influencer.state
          %dt País
          %dd= dl_value @influencer.country
          %dt Código Postal
          %dd= dl_value @influencer.zip_code
          %dt Télefono
          %dd= dl_value @influencer.phone
          %dt Celular
          %dd= dl_value @influencer.cell_phone
          %dt Horario de contacto preferido
          %dd= dl_value @influencer.contact_time
          %dt Método de contacto preferido
          %dd= dl_value @influencer.contact_method
        .subtitle Datos para pagos
        %dl.record_details
          %dt Pago preferido
          %dd= dl_value @influencer.preferred_payment
          %dt Número de cuenta
          %dd= dl_value @influencer.account_number
          %dt Tipo de cuenta
          %dd= dl_value @influencer.account_type
          %dt CBU
          %dd= dl_value @influencer.cbu
          %dt Banco
          %dd= dl_value @influencer.bank_name
        .subtitle Precios
        %dl.record_details
          %dt Precio Tweet
          %dd= number_to_currency(@influencer.tweet_fee)
          %dt Precio Campaña
          %dd= number_to_currency(@influencer.campaign_fee)
          %dt Precio Click
          %dd= number_to_currency(@influencer.cpc_fee)
          %dt Comisión Borwin
          %dd= "% #{@influencer.borwin_fee}"
          %dt Precio Tweet Celebridad
          %dd= number_to_currency(@influencer.influencer_tweet_fee)
          %dt Precio Campaña Celebridad
          %dd= number_to_currency(@influencer.influencer_campaign_fee)
          %dt Precio Click Celebridad
          %dd= number_to_currency(@influencer.influencer_cpc_fee)
        .subtitle Audiencia
        = render '/admin/audiences/audience_table', audience: @influencer.audience
      .clear.center_text.show_buttons
        = link_to('Editar', [:edit, :admin, @influencer], class: 'btn btn-primary')
        = link_to('Audiencia', [:admin, @influencer, :audience], class: 'btn btn-primary')
        = link_to('Eliminar', [:admin, @influencer], method: :delete, class: 'btn btn-danger', confirm: "Esta seguro que desea eliminar a la celebridad y todo su historial?" )
        = link_to('Listado', [:admin, :influencers], class: 'btn btn-primary')
        = link_to('Recategorizar', [:recategorize, :admin, @influencer], class: 'btn btn-warning', confirm: "Esta seguro que quiere acceder a la pantalla para recategorizar a la celebridad?")

