.row
  .span12
    .round_box
      .content
        %h1.title Celebridad
        .subtitle Datos de la cuenta
        %dl.record_details
          %dt Email
          %dd= @influencer.user.email
          %dt Twitter
          %dd= @influencer.user.twitter_screen_name
          %dt Nombre
          %dd= @influencer.first_name
          %dt Apellido
          %dd= @influencer.last_name
          %dt Fecha creación
          %dd= @influencer.created_at.strftime("%d/%m/%Y")
          %dt Fecha actualización
          %dd= @influencer.updated_at.strftime("%d/%m/%Y")
        .subtitle Datos de Twitter
        %dl.record_details
          %dt Twitter - Ubicación
          %dd= @influencer.twitter_location
          %dt Twitter - Foto
          %dd= image_tag(@influencer.twitter_image_url)
          %dt Twitter - Bio
          %dd= @influencer.twitter_bio
          %dt Twitter - Fecha ingreso
          %dd= @influencer.twitter_joined.strftime("%d/%m/%Y")
        .subtitle Datos de la celebridad
        %dl.record_details
          %dt Comisión Borwin
          %dd= @influencer.borwin_fee
          %dt Tipo
          %dd= @influencer.influencer_type
          %dt Sexo
          %dd= @influencer.sex
          %dt Cumpleaños
          %dd= @influencer.birthday.try(:strftime, "%d/%m/%Y")
          %dt Descripción
          %dd= @influencer.description
          %dt Foto de perfil
          %dd
            - if @influencer.photo.exists?
              = link_to(image_tag(@influencer.photo.url(:thumb)), @influencer.photo.url)
            - else
              = image_tag('no_photo.jpg', style: 'height: 48px;width: 48px;')
        .subtitle Datos de contacto
        %dl.record_details
          %dt Dirección
          %dd= @influencer.address
          %dt Ciudad
          %dd= @influencer.city
          %dt Provincia
          %dd= @influencer.state
          %dt País
          %dd= @influencer.country
          %dt Código Postal
          %dd= @influencer.zip_code
          %dt Télefono
          %dd= @influencer.phone
          %dt Celular
          %dd= @influencer.cell_phone
          %dt Horario de contacto preferido
          %dd= @influencer.contact_time
          %dt Método de contacto preferido
          %dd= @influencer.contact_method
        .subtitle Datos para pagos
        %dl.record_details
          %dt Pago preferido
          %dd= @influencer.preferred_payment
          %dt Número de cuenta
          %dd= @influencer.account_number
          %dt Tipo de cuenta
          %dd= @influencer.account_type
          %dt CBU
          %dd= @influencer.cbu
          %dt Banco
          %dd= @influencer.bank_name
        .subtitle Precios
        %dl.record_details
          %dt Precio Tweet
          %dd= number_to_currency(@influencer.fixed_tweet_fee)
          %dt Precio Click
          %dd= number_to_currency(@influencer.fixed_cpc_fee)
          %dt Precio Tweet Combinado
          %dd= number_to_currency(@influencer.combined_tweet_fee)
          %dt Precio Click Combinado
          %dd= number_to_currency(@influencer.combined_cpc_fee)
        .subtitle Audiencia
      .clear.center_text
        = link_to('Editar', [:edit, :admin, @influencer], class: 'btn btn-primary')
        = link_to('Audiencia', '#', class: 'btn btn-primary')
        = link_to('Listado', [:admin, :influencers], class: 'btn btn-primary')

