- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title= t('transaction')
        %dl.record_details
          %dt= t('a_date')
          %dd= dl_value @transaction.transaction_at.try(:strftime, "%d/%m/%Y %H:%M:%S")
          %dt= t('user')
          %dd= dl_value @transaction.user ? @transaction.user.full_name : '&nbsp'.html_safe
          %dt= t('type')
          %dd= dl_value transaction_type_description(@transaction.transaction_type)
          %dt= t('detail')
          %dd= dl_value @transaction.details
          %dt= t('amount')
          %dd= dl_value sprintf("%.02f", @transaction.amount)
          %dt= t('balance')
          %dd= dl_value sprintf("%.02f", @transaction.balance)

      .clear.center_text.show_buttons
        = link_to(t('list'), [:affiliate, :transactions], class: 'btn btn-primary')

