= form_for @campaign, :html => {:class => "form"} do |f|
  -if @campaign.errors.any?
    #error_explanation
      %h2= "Se ha producido un error en #{pluralize(@campaign.errors.count, "error")}"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg
  .group
    = f.label :name, :class => "label"
    = f.text_field :name, :class => "text_field"
  .group
    = f.label :description, :class => "label"
    = f.text_field :description, :class => "text_field"  
  .group.navform.wat-cf
    %button.button{ :type => "submit" }
      = image_tag "theme/icons/tick.png"
      Guardar 
    %span{ :class => "text_button_padding" }o
    %a{ :class => "text_button_padding link_button", :href => campaigns_path }Cancelar