#block-text.block
  .content
    %h2.title Campañas
    .inner
      %table{:class => :table}
        %tr
          %th Nombre
          %th Descripción
          %th Estado
          %th Tweets
          %th
          %th

        - @campaigns.each do |campaign|
          %tr{ :class => cycle('odd', 'even') }
            %td= campaign.name
            %td= campaign.description
            %td= campaign.full_status
            %td= link_to campaign.tweets.count, tweets_url + "/" + campaign.id.to_s + "/campaign", :method => :get
            - if campaign.status == 'A'
              %td= link_to 'Editar', edit_campaign_path(campaign)          
              %td= link_to 'Finalizar', campaign, :confirm => 'Esta seguro que desea finalizar est campania?', :method => :delete
            - else
              %td= 'Estadisticas'
              %td
    
      %a{ :class => "text_button_padding link_button", :href => new_campaign_path }Nueva Campaña
      
      %br
      %br