= form_for @transaction do |f|
  -if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tweet_id
    = f.number_field :tweet_id
  .field
    = f.label :payment_type_id
    = f.number_field :payment_type_id
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :borwin_amount
    = f.text_field :borwin_amount
  .field
    = f.label :avg_cpc
    = f.text_field :avg_cpc
  .field
    = f.label :transaction_date
    = f.datetime_select :transaction_date
  .field
    = f.label :dineromail_id
    = f.number_field :dineromail_id
  .field
    = f.label :payment_method_id
    = f.number_field :payment_method_id
  .field
    = f.label :currency_id
    = f.number_field :currency_id
  .field
    = f.label :holder
    = f.text_field :holder
  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :expiration
    = f.date_select :expiration
  .field
    = f.label :bank
    = f.text_field :bank
  .field
    = f.label :payment_date
    = f.datetime_select :payment_date
  .field
    = f.label :influencer_paid_date
    = f.datetime_select :influencer_paid_date
  .actions
    = f.submit 'Save'
