- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash
.row
  .span12
    .round_box
      .content
        %h1.title= t('affiliate')
        %dl.record_details
          %dt= t('email')
          %dd= dl_value @affiliate.user.email
          %dt= t('name')
          %dd= dl_value @affiliate.first_name
          %dt= t('last_name')
          %dd= dl_value @affiliate.last_name
          %dt= t('company')
          %dd= dl_value @affiliate.company
          %dt= t('address')
          %dd= dl_value @affiliate.address
          %dt= t('city')
          %dd= dl_value @affiliate.city
          %dt= t('state')
          %dd= dl_value @affiliate.state
          %dt= t('country')
          %dd= dl_value @affiliate.country
          %dt= t('postal_code')
          %dd= dl_value @affiliate.zip_code
          %dt= t('telephone')
          %dd= dl_value @affiliate.phone
          %dt= t('preferred_payment')
          %dd= dl_value @affiliate.preferred_payment
          %dt= t('account_number')
          %dd= dl_value @affiliate.account_number
          %dt= t('account_type')
          %dd= dl_value @affiliate.account_type
          %dt= t('bank_name')
          %dd= dl_value @affiliate.bank_name
          %dt= t('cbu')
          %dd= dl_value @affiliate.cbu
          %dt= t('creation_date')
          %dd= dl_value @affiliate.created_at.try(:strftime, "%d/%m/%Y")
          %dt= t('update_date')
          %dd= dl_value @affiliate.updated_at.try(:strftime, "%d/%m/%Y")
      .clear.center_text.show_buttons
        = link_to(t('edit'), [:edit, :admin, @affiliate], class: 'btn btn-primary')
        = link_to(t('destroy'), [:admin, @affiliate], method: :delete, class: 'btn btn-danger', confirm: t('are_you_sure') )
        = link_to(t('list'), [:admin, :affiliates], class: 'btn btn-primary')

