!!!
%html
  %head
    %title Borwin - It's time to go social!
    = favicon_link_tag '/borwin.ico'
    = stylesheet_link_tag 'application'
    - if params[:controller].include?('admin')
      = stylesheet_link_tag 'admin/admin'
    = stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag 'application'
    - if params[:controller].include?('admin')
      = javascript_include_tag 'admin/admin'
    = yield :head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tag
  %body
    .navbar.navbar-fixed-top{:style=>"z-index: 200 !important;"}
      .navbar-inner
        .container
          %a{:class => 'btn btn-navbar', 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to(image_tag('logo.png'), signed_in? ? home_path_for(current_user) : root_path, :class => 'brand')
          .nav-collapse
            %ul.nav
              - if user_signed_in?
                - if current_user.advertiser?
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = "Campañas"
                      %b.caret
                    %ul.dropdown-menu
                      - if current_user.advertiser.can_create_campaigns?
                        %li= link_to t('new_campaign'), new_advertiser_campaign_path
                      %li= link_to t('current_campaigns'), advertiser_campaigns_path
                      %li= link_to t('historical_campaigns'), archived_advertiser_campaigns_path
                  - if APP_CONFIG['app_country'] == 'AR'
                    %li= link_to t('payments'), [:advertiser, :payments]
                  %li= link_to t('transactions'), [:advertiser, :transactions]
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = t('profile')
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t('my_profile'), advertiser_profile_path
                      %li= link_to t('my_data'), advertiser_profiles_my_data_path
                      %li= link_to t('change_password'), advertiser_profiles_change_password_path
                - elsif current_user.influencer?
                  -if current_user.influencer.approved?
                    %li.dropdown
                      %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                        = t('profile')
                        %b.caret
                      %ul.dropdown-menu
                        %li= link_to t('my_profile'), influencer_profile_path
                        %li= link_to t('contact_info'), influencer_profiles_contact_data_path
                        %li= link_to t('payment_info'), influencer_profiles_payment_data_path
                        %li= link_to t('change_password'), influencer_profiles_change_password_path
                        %li= link_to t('best_time_for_tweet'), influencer_profiles_best_time_path
                    %li.dropdown
                      %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                        = "Referidos"
                        %b.caret
                      %ul.dropdown-menu
                        %li= link_to t('information'), influencer_referrals_path
                        %li= link_to "Mis Referidos", list_influencer_referrals_path
                    %li= link_to t('tweets'), influencer_tweets_path
                    %li.dropdown
                      %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                        Ingresos
                        %b.caret
                      %ul.dropdown-menu
                        %li= link_to t('income'), [:influencer, :transactions]
                        %li= link_to t('cash_out'), [:influencer, :cash_outs]
                - elsif current_user.affiliate?
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = t('referrals')
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t('information'), affiliate_referrals_path
                      %li= link_to t('my_referrals'), list_affiliate_referrals_path
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = "Perfil"
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t('my_profile'), affiliate_profile_path
                      %li= link_to t('my_data'), affiliate_profiles_my_data_path
                      %li= link_to t('payment_info'), affiliate_profiles_payment_data_path
                      %li= link_to t('change_password'), affiliate_profiles_change_password_path
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      Ingresos
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t('income'), [:affiliate, :transactions]
                      %li= link_to t('cash_out'), [:affiliate, :cash_outs]
                - elsif current_user.admin?
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = "Usuarios"
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t('waiting_approval'), waiting_approval_admin_influencers_path
                      %li= link_to t('authorizations'), admin_users_path
                      %li= link_to t('affiliates'), admin_affiliates_path
                      %li= link_to t('advertisers'), admin_advertisers_path
                      %li= link_to t('celebrities'), admin_influencers_path
                  %li= link_to t('referrals'), admin_referrers_path
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = t('campaigns')
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t('current_campaigns'), admin_campaigns_path
                      %li= link_to t('historical_campaigns'), archived_admin_campaigns_path
                  - if APP_CONFIG['app_country'] == 'AR'
                    %li= link_to t('payments'), [:admin, :payments]
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      Transacciones
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t('transactions'), [:admin, :transactions]
                      %li= link_to t('cash_out'), [:admin, :cash_outs]
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = "Twitter"
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to 'Keywords', [:admin, :keywords]
              - else
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = t('affiliate')
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to t('general_vision'), home_advertisers_about_path
                    %li= link_to t('contact_us'), home_advertisers_contact_path
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = t('celebrities')
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to t('general_vision'), home_influencers_about_path
                    %li= link_to t('contact_us'), home_influencers_contact_path
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = "Plataforma"
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'TweetGo!', about_tweet_go_path
                    %li= link_to 'SorteARGO!', about_sorte_argo_path
                    %li= link_to 'StatsGo!', about_stats_go_path
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = "Nosotros"
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to t('the_company'), about_us_path
                    %li= link_to t('presentation'), presentacion_path
                    %li= link_to t('press'), press_path
                    %li= link_to 'Blog', 'http://blog.borwin.net', target: '_blank'
                    %li= link_to t('work_with_us'), work_with_us_path
                    %li= link_to t('contact_us'), contact_path
            - if user_signed_in?
              %ul.nav.pull-right
                = form_tag(destroy_user_session_path, :method => :delete) do
                  %button.btn.btn-primary{:type => "submit"}= t('exit')
            - else
              %ul.nav.pull-right
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    =t('register')
                    %b.caret

                  %ul.dropdown-menu
                    %li= link_to t('celebrity'), influencer_devise_registration_path
                    %li= link_to t('advertiser_company'), advertiser_devise_registration_path
                    %li= link_to t('affiliate'), affiliate_devise_registration_path
                %li
                  = form_tag(new_user_session_path, :method => :get) do
                    %button.btn.btn-primary{:type => "submit"}= t('start_session')


    .main_container.container
      = yield

    #footer.footer
      .container
        .col.col1
          %h5= t('affiliates')
          %ul
            %li= link_to t('general_vision'), home_advertisers_about_path
            %li= link_to t('contact_us'), home_advertisers_contact_path
        .col.col2
          %h5= t('celebrities')
          %ul
            %li= link_to t('general_vision'), home_influencers_about_path
            %li= link_to t('contact_us'), home_influencers_contact_path
        .col.col3
          %h5= t('platform')
          %ul
            %li= link_to 'TweetGo!', about_tweet_go_path
            %li= link_to 'SorteARGo!', about_sorte_argo_path
            %li= link_to 'StatsGo!', about_stats_go_path
        .col.col4
          %h5= t('us')
          %ul
            %li= link_to t('the_company'), about_us_path
            %li= link_to t('presentation'), presentacion_path
            %li= link_to t('press'), press_path
            %li= link_to t('work_with_us'), work_with_us_path
            %li= link_to t('contact_us'), contact_path
        .col.col5
          %h5= t('terms')
          %ul
            %li
              %li= link_to t('terms_and_conditions'), terms_path
              %li= link_to t('privacy'), privacy_path
        .col.col6
          %h5 Borwin
          %ul
            %li
              %li= link_to 'Argentina', "#"
              %li= link_to 'Brasil', "mailto: brasil@borwin.net"
              %li= link_to 'Colombia', country_redirector_path(:country => 'CO')
              %li= link_to 'Chile', "mailto: chile@borwin.net"
              %li= link_to 'Ecuador', "mailto: ecuador@borwin.net"
              %li= link_to 'España', "mailto: españa@borwin.net"
              %li= link_to 'México', "mailto: mexico@borwin.net"
              %li= link_to 'Paraguay', "mailto: paraguay@borwin.net"
              %li= link_to 'Uruguay', "mailto: uruguay@borwin.net"
