!!!
%html
  %head
    %title Borwin - It's time to go social
    = stylesheet_link_tag 'application'
    /[if IE] <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    = stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class => 'btn btn-navbar', 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to(image_tag('small_logo.png'), signed_in? ? home_path : root_path, :class => 'brand')
          .nav-collapse
            %ul.nav
              - if user_signed_in?
                - if current_user.is? :advertiser
                  %li= link_to "#Celebridades", list_influencers_path
                  %li= link_to "#Campañas", campaigns_path
                  %li= link_to "#Tweets", tweets_path
                  %li= link_to "#Transacciones", transactions_path
                - elsif current_user.is? :influencer
                  %li= link_to "#Referidos", referrals_path
                  %li= link_to "#Tweets", tweets_path
                  %li= link_to "#Transacciones", transactions_path
                - elsif current_user.is? :affiliate
                  %li= link_to "#Referidos", referrals_path
                  %li= link_to "#Transacciones", transactions_path
                - elsif current_user.is? :administrator
                  %li= link_to "#Usuarios", "/users/all"
                  %li= link_to "#Comisiones", fees_influencers_path
                  %li= link_to "#Audiencias", audiencies_path
                  %li= link_to "#Perfiles", profiles_path
                  %li= link_to "#Referidos", referrals_path
                  %li= link_to "#Transacciones", transactions_path
              - else
                %li= link_to "#Plataforma", about_path
                %li= link_to "#Anunciantes", welcome_advertisers_path
                %li= link_to "#Celebridades", welcome_influencers_path
                %li= link_to "#Analytics", welcome_analytics_path
                %li= link_to "#Contactános", contact_path
            - if user_signed_in?
              = form_tag(destroy_user_session_path, :class => 'nav pull-right', :method => :delete) do
                %button.btn{:type => "submit"} Salir
            - else
              = form_tag(new_user_session_path, :class => 'nav pull-right', :method => :get) do
                %button.btn{:type => "submit"} Iniciar sesión


    .main_container.container
      = yield

      %hr
      #footer.footer
        %p Copyright &copy; 2012 Borwin