!!!
%html
  %head
    %title Borwin - It's time to go social
    = stylesheet_link_tag 'application'
    - if params[:controller].include?('admin')
      = stylesheet_link_tag 'admin/admin'
    /[if IE] <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    = stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag 'application'
    = yield :head
    = csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class => 'btn btn-navbar', 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to(image_tag('logo.png'), signed_in? ? home_path_for(current_user) : root_path, :class => 'brand')
          .nav-collapse
            %ul.nav
              - if user_signed_in?
                - if current_user.advertiser?
                  %li= link_to "Celebridades", list_influencers_path
                  %li= link_to "Campañas", campaigns_path
                  %li= link_to "Tweets", tweets_path
                  %li= link_to "Transacciones", transactions_path
                - elsif current_user.influencer?
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = "Perfil"
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to 'Mi perfil', influencer_profile_path
                      %li= link_to 'Datos de contacto', influencer_profiles_contact_data_path
                      %li= link_to 'Datos de pagos', influencer_profiles_payment_data_path
                  %li= link_to "Referidos", influencer_referrals_path
                  %li= link_to "Campañas", influencer_campaigns_path
                  %li= link_to "Ingresos", influencer_transactions_path
                - elsif current_user.affiliate?
                  %li= link_to "Referidos", referrals_path
                  %li= link_to "Transacciones", transactions_path
                - elsif current_user.admin?
                  %li.dropdown
                    %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                      = "Usuarios"
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to "Autorizaciones", admin_users_path
                      %li= link_to "Agencias", admin_affiliates_path
                      %li= link_to "Anunciantes", admin_advertisers_path
                      %li= link_to "Celebridades", admin_influencers_path
                  %li= link_to "Comisiones", "#"
                  %li= link_to "Audiencias", '#'
                  %li= link_to "Perfiles", "#"
                  %li= link_to "Referidos", "#"
                  %li= link_to "Transacciones", "#"
              - else
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = "Anunciantes"
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'Visión General', home_advertisers_about_path
                    %li= link_to 'Contáctenos', home_advertisers_contact_path
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = "Celebridades"
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'Visión General', home_influencers_about_path
                    %li= link_to 'Contáctenos', home_influencers_contact_path
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = "Plataforma"
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'TweetGo!', about_tweet_go_path
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = "Nosotros"
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'La Empresa', about_us_path
                    %li= link_to 'Prensa', press_path
                    %li= link_to 'Trabajá con Nosotros', work_with_us_path
                    %li= link_to 'Contáctenos', contact_path
            - if user_signed_in?
              %ul.nav.pull-right
                = form_tag(destroy_user_session_path, :method => :delete) do
                  %button.btn.btn-primary{:type => "submit"} Salir
            - else
              %ul.nav.pull-right
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    Registrarse
                    %b.caret

                  %ul.dropdown-menu
                    %li= link_to 'Celebridad', influencer_devise_registration_path
                    %li= link_to 'Anunciante', advertiser_devise_registration_path
                    %li= link_to 'Agencia', affiliate_devise_registration_path
                %li
                  = form_tag(new_user_session_path, :method => :get) do
                    %button.btn.btn-primary{:type => "submit"} Iniciar sesión


    .main_container.container
      = yield

    #footer.footer
      .container
        .col.col1
          %h5 Anunciantes
          %ul
            %li= link_to 'Visión General', home_advertisers_about_path
            %li= link_to 'Contactenos', home_advertisers_contact_path
        .col.col2
          %h5 Celebridades
          %ul
            %li= link_to 'Visión General', home_influencers_about_path
            %li= link_to 'Contactenos', home_influencers_contact_path
        .col.col3
          %h5 Plataforma
          %ul
            %li= link_to 'TweetGo!', about_tweet_go_path
        .col.col4
          %h5 Nosotros
          %ul
            %li= link_to 'La Empresa', about_us_path
            %li= link_to 'Prensa', press_path
            %li= link_to 'Trabajá con Nosotros', work_with_us_path
            %li= link_to 'Contáctenos', contact_path
        .col.col5
          %h5 Términos
          %ul
            %li
              %li= link_to 'Términos y condiciones', terms_path
              %li= link_to 'Política de privacidad', privacy_path
        .col.col6
          %h5 Borwin
          %ul
            %li
              %li= link_to 'Argentina', "#"
              %li= link_to 'Colombia', "mailto: colombia@borwin.net"
              %li= link_to 'Chile', "mailto: chile@borwin.net"
              %li= link_to 'Ecuador', "mailto: ecuador@borwin.net"
              %li= link_to 'Paraguay', "mailto: paraguay@borwin.net"
              %li= link_to 'Uruguay', "mailto: uruguay@borwin.net"
